<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--reset style-->
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/invest/in-account.css">
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--遮罩层-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="mark3">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="dividend">
    <div class="dividend-box">
        <p>转账额度不再享受粉红是否确认继续转账？</p>
        <a href="#" onclick="tfcc_sub()" class="yes">是</a><a href="#" onclick="exit()">否</a>
    </div>
</div>

<!--个人账户头部开始-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../resources/qkl_tfcc/imgs/reglogo_02.png" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime"></span>
            <span class="dateTime"></span>
            <span class="weekTime"></span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span id="user"></span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="/service/user/logout">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a href="../invest_vip/invest_team.html">我的团队</a></li>
                <li><a class="active" href="../invest_vip/invest_account.html">我的账户</a></li>
                <li ><a  href="../invest_vip/invest_myself.html">个人中心</a></li>
                <li><a  href="../invest_vip/invest_safety.html">安全中心</a></li>
                <li><a href="http://www.sanjielian.com" target="new_window">数字钱包</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div>
                <div class="main-top"><span>您当前的位置：</span><span class="c28">我的账户</span></div>
                <div class="my-sum">
<!--                     <h4>SAN最新成交价：<span>¥ 3550.99</span></h4> -->
                        <ul>
                            <li>我的余额</li>
                            <li>SAN&nbsp;&nbsp;<span id="in_sp"></span></li>
                            <li class="zhuanzhang">转账</li>
                        </ul>
                </div>
                <div class="award">
                    <h3>注意：一次最多发送10组，发送完成后，信息将自动清空，清空后可再次操作发放。</h3>
                    <form action="" class="award-num">
                        <ul>
                            <li><span>1</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>2</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>3</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>4</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>5</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>6</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>7</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>8</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>9</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>10</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li class="subBtn"><a href="javascript:sub_money()">确认发放</a></li>
                        </ul>
                    </form>
                    <div id="showTip"></div>
                    <input type="text" id="focus" style="border:0px;" readonly="readonly"/>
                </div>

            </div>
            <!--日期-->

            <!--转账位置-->
            <div class="trans-account">
                <div class="main-top"><span>您当前的位置：</span><span>我的账户</span>><span class="c28">账户</span></div>
                <div class="trans-wrap">
                    <p>转账至R8交易所账户中</p>
                    <div class="trans-tfcc">
                        <p>转账额度</p>
                        <input type="text"name="money" placeholder="请输入需转账额度">
                        <span>您最多可转账额度为 40,000.00</span><span class="t_trans">全部转账</span>
                        <span class="errorc"></span>
                        <div><a href="#" class="tfcc-btn" onclick="save()">保存</a> <a href="">返回</a></div>
                    </div>
                </div>

                <div class="trans-jfcc"></div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="" width="122"  alt="">
                </div>
                <p>投资公司</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>
<script src="../../../resources/qkl_tfcc/js/invest/in-account.js"></script>
<script type="text/javascript">
  $(function(){
	  //移除错误提示
	  $("form input").each(function(){
		  $(this).focus(function(){
			  if($(this).hasClass("errorTip")){
				  $(this).removeClass("errorTip");
				  $(this).val("");
			  }
		  });
	  });
	  //获取用户信息
      getUserInfo();
	  //获取账户余额
      getAmnt();
  });

  function getUserInfo(){
      var url = "/service/user/toMyself";
      $.getJSON(url,function(data){
          if(data.success){
              if(data.data.imgAddrss){
                  $("#left_headPicId").attr("src",data.data.imgAddrss);
              }else{
                  $("#left_headPicId").attr("src","../../../resources/qkl_tfcc/imgs/LPtouxiang.jpg");
              }
              if(data.data.userName){
                  $("#user").html(data.data.userName);
              }else if(data.data.realName){
                  $("#user").html(data.data.realName);
              }else{
                  $("#user").html(data.data.phone);
              }
          }
      });
  }
  function sub_money(){
	  $("#showTip").html('');
	  var jsonStr = '[';  
      $("form li:not(.subBtn)").each(function(){
            var phone = $(this).children('input[name="phone"]').val().trim();
            var tfccNum = $(this).children('input[name="money"]').val().trim();
            if(phone!=''&&tfccNum!=''){
                var validPhone = valid_phone($(this).children('input[name="phone"]'));
                var validMoney = valid_money($(this).children('input[name="money"]'));
                if(validPhone&&validMoney){
                    jsonStr += "{'phone':'"+phone+"','tfccNum':'"+tfccNum+"'},";
                }else{
                    return;
                }
            }
        });
      jsonStr = jsonStr.substring(0, jsonStr.length-1)+"]";
      if(jsonStr == ']'){
          $("#showTip").html("<p style='margin-left:100px;' class='error18'>请填写对应的手机号和发放额度！</p>");
          return;
      }
        $.ajax({
            type:'post',
            url:'/service/acc/rewardTfcc?params='+jsonStr,
//          data:,
            dataType:'json',
            success:function(data){
                 if(data.success){
                	 $("#in_sp").text(data.data.avb_amnt);//可用数量
                	 if(data.data.successStr){
                		 $("#showTip").append("<p style='margin-left:100px;' class='error18'>"+data.data.successStr+"</p>");
                	 }
                	 if(data.data.failStr){
                		 $("#showTip").append("<p style='margin-left:100px;' class='error18'>"+data.data.failStr+"</p>");
                	 }
                	 $("#focus").focus();
                 }else{
                	 alert(data.message);
                 }
            },
            errror:function(data){
                alert("系统异常！")
            }
        });
    }
//手机验证
  
  function valid_phone($this){
      var phone = $this.val().trim();
      var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1})|(14[0-9]{1}))+\d{8})$/;
      if(phone.length!=11||!myreg.test(phone)){
          $this.val("请输入正确的手机号");
          $this.addClass("errorTip");
          return false;
      }else{
          if($this.hasClass('errorTip')){
              $this.removeClass("errorTip");
          }
          return true;
      }
  }
  function valid_money($this){
      var money = $this.val().trim();
      var myreg = /^(([0-9]|([1-9][0-9]{0,9}))((\.[0-9]{1,2})?))$/;
      if(!myreg.test(money)){
          $this.val("格式输入有误");
          $this.addClass("errorTip");
          return false;
      }else{
          if($this.hasClass('errorTip')){
              $this.removeClass("errorTip");
          }
          return true;
      }
  }
  function getAmnt(){
	  $.ajax({
	        type:'post',
	        url:'../../service/comacc/getAmnt',
	        dataType:'json',
	        success:function(data){
	           if(data.success){
	              if(data.data.avb_amnt==null||data.data.avb_amnt==""){
	                  $("#in_sp").text("0.0000");
	              }else{
	                  $("#in_sp").text(data.data.avb_amnt);
	              }
	           }else{
	               alert(data.message);
	           } 
	        }
	    }) 
  }
</script>
</body>
</html>

