<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--reset style-->
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/invest/in-account.css">
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--遮罩层-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>TFCC转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="mark3">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>TFCC转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="dividend">
    <div class="dividend-box">
        <p>转账额度不再享受粉红是否确认继续转账？</p>
        <a href="#" onclick="tfcc_sub()" class="yes">是</a><a href="#" onclick="exit()">否</a>
    </div>
</div>

<!--个人账户头部开始-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../../resources/qkl_tfcc./imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a  href="../invest/in-team.html">我的团队</a></li>
                <li><a class="active" href="../invest/in-account.html">我的账户</a></li>
                <li ><a  href="../invest/in-myhelf.html">个人中心</a></li>
                <li><a href="../invest/in-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div>
                <div class="main-top"><span>您当前的位置：</span><span class="c28">我的账户</span></div>
                <div class="my-sum">
                    <h4>TFCC最新成交价：<span>¥ 3550.99</span></h4>
                        <ul>
                            <li>我的余额</li>
                            <li><div>TFCC</div>&nbsp;&nbsp;<span>800,000.00</span></li>
                            <li class="zhuanzhang">转账</li>
                        </ul>
                </div>
                <div class="award">
                    <h3>注意：一次最多发送10组，发送完成后，信息将自动清空，清空后可再次操作发放。</h3>
                    <form action="" class="award-num">
                        <ul>
                            <li><span>1</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>2</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>3</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>4</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>5</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>6</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>7</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money"  placeholder="请输入发送额度"></li>
                            <li><span>8</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>9</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li><span>10</span><label >手机号</label><input type="text" name="phone" maxlength="11"  placeholder="请输入发送手机号"><label >发放额度</label><input type="text" name="money" placeholder="请输入发送额度"></li>
                            <li class="subBtn"><a href="" onclick=" sub_money()">提交</a></li>
                        </ul>
                    </form>
                </div>

            </div>
            <!--日期-->

            <!--转账位置-->
            <div class="trans-account">
                <div class="main-top"><span>您当前的位置：</span><span>我的账户</span>><span class="c28">账户</span></div>
                <div class="trans-wrap">
                    <p>转账至R8交易所账户中</p>
                    <div class="trans-tfcc">
                        <p>转账额度</p>
                        <input type="text"name="money" placeholder="请输入需转账额度">
                        <span>您最多可转账额度为 40,000.00</span><span class="t_trans">全部转账</span>
                        <span class="errorc"></span>
                        <div><a href="#" class="tfcc-btn" onclick="save()">保存</a> <a href="">返回</a></div>
                    </div>
                </div>

                <div class="trans-jfcc"></div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img src="" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>
<script src="../../../resources/qkl_tfcc/js/invest/in-account.js"></script>
<script src></script>

</body>
</html>