<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/general/equity.css">
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<div class="header fix">
    <div class="logo fl">
        <img src="../../../resources/qkl_tfcc/imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a class="active" href="general-equity.html">我的股权</a></li>
                <li ><a href="general-team.html">我的团队</a></li>
                <li><a href="general-account.html">我的账户</a></li>
                <li ><a href="general-myhelf.html">个人中心</a></li>
                <li><a href="general-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="main-top"><span>您当前的位置：</span><span class="c28">我的股权</span></div>
            <div class="main-mid">
                <div class="mid-l">
                      <h3>收款账户信息</h3>
                        <p>有限公司：北京中联共识区块链技术有限公司</p>
                        <p>账号：010-20456988</p>
                        <p> 开户行：中国工商银行贵阳市开阳区支行</p>
                        <p>账务对账电话：0851-26790188</p>
                </div>
                <div class="mid-r">
                    <form action="">
                        <div>
                            <label>购买数量（股）</label><input type="text" placeholder="请输入需要购买的数量">
                        </div>
                        <div>
                            <label >需支付金额（元）</label><input type="text" placeholder="￥0.00">
                        </div>
                        <div>
                          <a href="">确认购买</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img src="" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>
<script src="../../../resources/qkl_tfcc/js/common/myselfCom.js"></script>
</body>
</html>