<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/date/dateRange.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/date/monthPicker.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/pagintaion/pagination.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/general/general-team.css">
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
    <script src="../../../resources/qkl_tfcc/js/pagination/pagination.js"></script>
    <script src="../../../resources/qkl_tfcc/js/date/dateRange.js"></script>
    <script src="../../../resources/qkl_tfcc/js/date/monthPicker.js"></script>

</head>
<body>
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<div class="header fix">
    <div class="logo fl">
        <img src="../../../resources/qkl_tfcc/imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a class="active"  href="#">我的团队</a></li>
                <li><a href="general-account.html">我的账户</a></li>
                <li ><a  class="color-fff" href="general-myhelf.html">个人中心</a></li>
                <li><a href="general-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>




<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="posit" >
                <div class="main-top"style="position: relative;overflow: hidden">
                    <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队</span>><span class="c28">我推荐的会员</span>
                    </div>
                    <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队</span>><span class="c28">我推荐的网点</span>
                    </div>

                </div>
                <div class="main-middle fix">
                    <div class="fix">
                        <ul class="fl member">
                            <li>推荐会员<span class="member1">&nbsp;107</span></li>
                            <li>A级会员<span class="member2">&nbsp;12</span></li>
                            <li>B级会员<span class="member3">&nbsp;29</span></li>
                            <li>C级会员<span class="member4">&nbsp;66</span></li>
                            <li>推荐网点<span class="member5">&nbsp;5</span></li>
                        </ul >
                    </div>
                    <ul class="huiyuan">
                        <li class="member-tab act">我推荐的会员</li>
                        <li class="branch-tab">我推荐的网点</li>
                    </ul>
                </div>
            </div>
             <div class="foot-btm" style="position: relative">
                    <div class="btm">
                            <div class="fix">
                                <ul class="fl ">
                                    <li>推荐类型</li>
                                    <li><input type="checkbox"> A级会员</li>
                                    <li><input type="checkbox"> B级会员</li>
                                    <li><input type="checkbox"> C级会员</li>
                                    <li><input type="checkbox"> D级会员</li>
                                </ul>
                            </div>
                            <div class="fix">
                                <ul class="serch">
                                    <li>查询条件</li>
                                    <li>
                                        <select name="" id="">
                                            <option value="member">会员账号</option>
                                            <option value="referrer">推荐人</option>
                                        </select>
                                    </li>
                                    <li><input type="text"></li>
                                    <li class="ser-btn">查询</li>
                                </ul>
                            </div>
                            <!--查询最近日期时间-->
                            <div class="reg-time fix">
                                <ul class="fl date">
                                    <li>注册时间</li>
                                    <li class="time-list">
                                        <div class="ta_date" id="div_date_demo33">
                                            <span class="date_title" id="date_demo33"></span>
                                            <a class="opt_sel" id="input_trigger_demo33" href="#">
                                                <i class="i_orderd"></i>
                                            </a>
                                        </div>
                                        <span>
                                            <a href="javascript:;" id="aRecent7DaysDemo1" >今天</a>
                                            <a href="javascript:;" id="aRecent7DaysDemo3" >近三天</a>
                                            <a href="javascript:;" id="aRecent7DaysDemo7" >近一周</a>
                                            <a href="javascript:;" id="aRecent7DaysDemo30" >近一月</a>
                                        </span>
                                        <div id="datePicker1"></div>
                                        <br/>
                                        <script type="text/javascript">
                                            var dateRange = new pickerDateRange('date_demo33', {
                                                aToday : 'aRecent7DaysDemo1',
                                                aRecent3Days:'aRecent7DaysDemo3',
                                                aRecent7Days : 'aRecent7DaysDemo7', //最近7天
                                                aRecent30Days:'aRecent7DaysDemo30',
                                                isTodayValid : false,
                                                startDate : '2016-08-14',
                                                endDate : '2016-09-21',
                                                // needCompare : true,
                                                // isSingleDay : true,
                                                // shortOpr : true,
                                                defaultText : ' 至 ',
                                                inputTrigger : 'input_trigger_demo33',
                                                // theme : 'ta',
                                                success : function(obj) {
                                                    $("#dCon_demo3").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
                                                }
                                            });
                                        </script>
                                    </li>
                                    <li class="time-btn">查询</li>
                                </ul>
                            </div>
                            <!--表格-->
                            <div class="table">
                                <div class="table-head">
                                    <div class="row">
                                        <div class="col-lg">会员级别</div>
                                        <div class="col-lg">注册时间</div>
                                        <div class="col-lg">会员账号</div>
                                        <div class="col-lg">推荐人</div>
                                        <div class="col-lg">购买量(股)</div>
                                    </div>
                                </div>

                            </div>
                        <!--分页-->
                        <!--<div id="wrapper">-->
                            <!--<section>-->
                                <!--<div class="data-container" id="demo">111111111</div>-->
                                <!--<div id="pagination-demo1"></div>-->
                            <!--</section>-->
                        <!--</div>-->
                    </div>

                    <!--会员推荐-->
                    <div class="btm" style="display: none">
                        <div class="fix">
                            <ul class="fl ">
                                <li>推荐类型</li>
                                <li><input type="checkbox"> A级会员</li>
                                <li><input type="checkbox"> B级会员</li>
                                <li><input type="checkbox"> C级会员</li>
                                <li><input type="checkbox"> D级会员</li>
                            </ul>
                        </div>
                        <div class="fix">
                            <ul class="serch">
                                <li>查询条件</li>
                                <li>
                                    <select name="" >
                                        <option value="">会员账号</option>
                                        <option value="">网点账号</option>
                                    </select>
                                </li>
                                <li><input type="text"></li>
                                <li class="ser-btn">查询</li>
                            </ul>
                        </div>
                        <!--查询最近日期时间-->
                        <div class="reg-time fix">
                            <ul class="fl date">
                                <li>注册时间</li>
                                <li class="time-list">
                                    <div class="ta_date" id="div_date_demo3">
                                        <span class="date_title" id="date_demo3"></span>
                                        <a class="opt_sel" id="input_trigger_demo3" href="#">
                                            <i class="i_orderd"></i>
                                        </a>
                                    </div>
                                    <span>
                                        <a href="javascript:;" id="aRecent7DaysDemo11" >今天</a>
                                       <a href="javascript:;" id="aRecent7DaysDemo33" >近三天</a>
                                       <a href="javascript:;" id="aRecent7DaysDemo77" >近一周</a>
                                         <a href="javascript:;" id="aRecent7DaysDemo300" >近一月</a>
                                    </span>

                                    <div id="datePicker"></div>
                                    <br/>
                                    <script type="text/javascript">
                                        var dateRange = new pickerDateRange('date_demo3', {
                                            aToday : 'aRecent7DaysDemo11',
                                            aRecent3Days:'aRecent7DaysDemo33',
                                            aRecent7Days : 'aRecent7DaysDemo77', //最近7天
                                            aRecent30Days:'aRecent7DaysDemo300',
                                            isTodayValid : false,
                                            startDate : '2016-08-14',
                                            endDate : '2016-09-21',
                                            // needCompare : true,
                                            // isSingleDay : true,
                                            // shortOpr : true,
                                            defaultText : ' 至 ',
                                            inputTrigger : 'input_trigger_demo3',
                                            // theme : 'ta',
                                            success : function(obj) {
                                                $("#dCon_demo3").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
                                            }
                                        });
                                    </script>

                                </li>
                                <li class="time-btn">查询</li>
                            </ul>
                        </div>
                        <!--表格-->

                        <div class="table">
                            <div class="table-head">
                                <div class="row">
                                    <div class="col-lg">会员级别</div>
                                    <div class="col-lg">注册时间</div>
                                    <div class="col-lg">会员账号</div>
                                    <div class="col-lg">推荐人</div>
                                    <div class="col-lg">购买量(股)</div>
                                </div>
                            </div>
                        </div>

                        <!--&lt;!&ndash;分页&ndash;&gt;-->
                        <!--<div id="wrapper1">-->
                            <!--<section>-->
                                <!--<div class="data-container" id="demo2">111111111</div>-->
                                <!--<div id="pagination-demo2"></div>-->
                            <!--</section>-->
                        <!--</div>-->

                    </div>
            </div>

        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img src="" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="../../../resources/qkl_tfcc./js/pagination/paging.js"></script>
<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>


<script>
    $(function(){

    })

</script>
</body>
</html>