<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/general/general-team.css">
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--mark start-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<!--mark end-->


<!--header common start-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../../resources/qkl_tfcc/imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a class="active"  href="#">我的团队</a></li>
                <li><a href="general-account.html">我的账户</a></li>
                <li ><a  class="color-fff" href="general-myhelf.html">个人中心</a></li>
                <li><a href="general-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header common end-->

<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="posit" >
                <div class="main-top"style="position: relative;overflow: hidden">
                    <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队</span>><span class="c28">我推荐的会员</span>
                    </div>
                    <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队</span>><span class="c28">我推荐的网点</span>
                    </div>
                </div>
                <div class="main-middle fix">
                    <div class="fix">
                        <ul class="fl member">
                            <li>推荐会员<span class="member1">&nbsp;107</span></li>
                            <li>A级会员<span class="member2">&nbsp;12</span></li>
                            <li>B级会员<span class="member3">&nbsp;29</span></li>
                            <li>C级会员<span class="member4">&nbsp;66</span></li>
                            <li>推荐网点<span class="member5">&nbsp;5</span></li>
                        </ul >
                    </div>
                    <ul class="huiyuan">
                        <li class="member-tab act">我推荐的会员</li>
                        <li class="branch-tab">我推荐的网点</li>
                    </ul>
                </div>
            </div>
             <div class="foot-btm" style="position: relative">
                    <div class="btm">
                            <div class="fix btm-type">
                                <ul class="fl ">
                                    <li>推荐类型</li>
                                    <li><input type="checkbox" name="type" value="quan"> 全部</li>
                                    <li><input type="checkbox" name="type" value="A"> A级会员</li>
                                    <li><input type="checkbox" name="type" value="B"> B级会员</li>
                                    <li><input type="checkbox" name="type" value="C">C级会员</li>
                                    <li class="type-btn"><a href="#" onclick="">查询</a></li>
                                </ul>
                            </div>

                            <!--table pageing start-->
                            <div class="table">
                                <table class="result-tab" width="100%" border="0">
                                    <thead>
                                        <tr>
                                            <th>会员级别</th>
                                            <th>注册时间</th>
                                            <th>会员账号</th>
                                            <th>推荐人</th>
                                            <th>用户名</th>
                                            <th>购买量(股)</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <div class="pages1">
                                    
                                </div>
                            </div>
                        <!--table paging end-->

                    </div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img src="" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>


<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>
<script src="../../../resources/qkl_tfcc/js/general_vip/general-team.js"></script>

<script>
    var flag =true;
    $(".type-btn a").click(function () {
        var showcnt =10; //每页页数初始值
        var  myselect=document.getElementById("showcnt");
        if(myselect==null||myselect=="null"){
        }else{
            showcnt=myselect.options[myselect.selectedIndex].value;
        }
        if(flag){
            reload_table(1,showcnt);
        }

    })


    function reload_table(currentPage,showCount) {
        var rsStr = "";
        var phoneVal = $('.phone').val();
        console.log("phoneVal is " + phoneVal);
        var passVal = $('.pass').val();
        console.log("passVal is " + passVal);
        $.ajax({
            type: 'post',
//		url: '../../..rvice/user/login/',
            url: '../../../service/test/queryuser/',
            dataType: 'json',
            data: {
                phone: $('.phone').val(),
                pass: $('.pass').val(),
                currentPage: currentPage,
                showCount: showCount
            },
            success: function (data) {
                alert('请求成功');
                var message = data.message;
                console.log("success is " + data.success);
                console.log("data is " + data.map);
                console.log("data.userList is " + data.data.userList);
                var usList = data.data.userList;
                console.log("usList.length " + usList.length);
                console.log("data.data.page.pageStr " + data.data.page.pageStr);
                var tablecols = "<tr> \n"
                        + " <th>用户名</th> \n"
                        + "<th>id</th> \n"
                        + "</tr> \n";
                rsStr = tablecols;
                for (var i = 0; i < usList.length; i++) {
                    rsStr = rsStr + "<tr>";
                    console.log("usList(" + i + ") name is " + usList[i].name);
                    rsStr = rsStr + "<td>" + usList[i].name + "</td>";
                    rsStr = rsStr + "<td>" + usList[i].test_user_id + "</td>";
                    rsStr = rsStr + "</tr>";
                }

                console.log("rsStr " + rsStr);
//			 $(".result-tab").append(rsStr);
                $(".resu .lt-tab").html(rsStr);
//			 $(".pages1").append(data.data.page.pageStr);
                $(".pages1").html(data.data.page.pageStr);

//			$('.phone').val(data.data.phone);
                alert("message is " + message);


//			 if(data.success){
//				 window.location.href ="../index.html";
//			 }
            }, error: function (data) {
                alert('请求错误');
            }
        })
    }



</script>
</body>
</html>