.main-top{width:100%;height:52px;border-bottom:1px  solid #ddd;text-indent: 20px;line-height: 52px;}
.main-top span{font-size: 14px;}
.c28{color:#282828}
.numb{color:#575757;font-size: 14px;margin: 20px;}
.ce9{color:#e9382c;font-size: 24px;font-weight: bold;}
.query ul{float:left;height:30px;margin:0 20px;}
.query ul li{float:left;height:30px;font-size: 14px;line-height: 30px;}
.query ul li select{width:120px;height:30px;margin: 0 30px;}
.query ul li input{width:180px;height:26px}
.query ul li a{display: block;height:28px;width:100px;border:1px solid #ddd;text-align: center;margin-left:258px;}
.in-time{}
.in-time .in-date{height:30px;margin-top: 20px;margin-left: 20px;}
.in-time .in-date li{float:left;height:28px;line-height: 28px;font-size: 14px;}
.in-time .in-date .time-list{margin-left: 30px;}
.time-list span a{margin-left:20px;color:#e9382c;}
.time-btn{width:100px;height:28px;border:1px solid #ddd;line-height: 28px;text-align: center;margin-left: 122px;}

/*!*分页1**/
.table-list{
    margin: 22px 0px;
    height:370px;
}
.result-tab{
    border-collapse: collapse;
}
.result-tab tr{
    height:42px;
    border:1px solid #ddd;
}
.result-tab tr:nth-child(odd){
    background:#f6fafe;
}
.result-tab tr th{
    font-size: 14px;
    color:#575757;
    border:none;
}

.pages1{
    margin-top:20px;
    height:32px;
}
.btm .pages1 ul {
    width: 900px;
    margin: 0 auto;
}
.btm .pages1 ul li{
    margin: 0px 5px;
    height: 32px;
    line-height: 32px;
    width: 57px;
    border: 1px solid #ddd;
    text-align: center;
}
.btm .pages1 ul li input{
    height:28px;
    text-indent:8px;
    border:none;
    margin: 1px 6px;
}
.btm .pages1 ul li a{
    display: block;
    height:32px;
}
.btm .pages1 ul li select{
    height: 32px;
    border: none;
    text-indent: 12px;
    line-height: 32px;
}
.bg-color{
    background: cyan;
}
