.main-top,.main-top1{height:52px;width:100%;border-bottom: 1px solid #ddd;line-height: 52px;text-indent: 20px;font-size: 14px;}
.main-top span{font-size: 14px;}
.c28{color:#282828;}
.amend ul li{margin:0px 270px 0 20px ;height:90px;border-bottom: 1px solid #ddd;line-height: 90px;}
.amend ul li p{width:84px;display: inline-block;color:#282828;font-size: 14px;margin:0px;}
.amend .txt{color:#c7c7c7;font-size: 14px;display: inline-block;height:100%;width:390px;}
.amend .status{font-size: 14px;display: inline-block;width:52px;height:100%;margin-right: 70px}
.amend .btn{background: url('../../../../../resources/qkl_tfcc/imgs/safty.jpg') no-repeat 40px;width:162px;height:44px;display: inline-block;vertical-align: middle;text-align: center;line-height: 44px;color: #fff}

.pwd{height:300px;}
.form1 .btn1{width:120px;height:40px;display: inline-block}
.form1{margin-left: 20px;}
.form1 div{margin:20px 0;width:800px;}
.form1 input{width:260px;height:40px;margin-left: 18px; }
.form1 label{width:106px;text-align: right;display:inline-block;font-size:14px;}
.form1 .main-top1 span{font-size: 14px;margin-left: 20px;}
.form1 .save{margin-left: 124px;background: url("../../../../../resources/qkl_tfcc/imgs/safty1.jpg")no-repeat;width:116px;height:42px; display: inline-block;color:#fff;text-align: center;line-height: 42px;}
.form1 .rest{margin-left: 34px;background: url("../../../../../resources/qkl_tfcc/imgs/safty1.jpg")no-repeat;width:116px;height:42px; display: inline-block;color:#fff;text-align: center;line-height: 42px;}
.hid{display: none;}

.txt1{color:red;font-size: 14px;height:56px;margin: 0px 270px 0px 20px;border-bottom:1px solid #ddd;line-height: 56px;}

/*遮罩*/
.mark,.mark1,.mark2{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(5, 5, 5, 0.47);
    z-index: 9999;
    display: none;
}
.mark-box{
    position: absolute;
    top:50%;
    left:50%;
    width:500px;
    height:256px;
    margin-left:-250px;
    margin-top:-128px;
    background: #fff;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
}
.success-icon{
    background: url("../../../../../resources/qkl_tfcc/imgs/save2.jpg")no-repeat ;
    width:90px;
    height:90px;
    margin:36px auto 0px;
}
.mark p,.mark1 p,.mark2 p{
    text-align: center;
}
.achieve{
    width:224px;
    height:44px;
    background: url("../../../../../resources/qkl_tfcc/imgs/btn1.jpg") no-repeat;
    background-position:-116px -72px;
    text-align: center;
    margin:20px  auto;
    line-height: 44px;
}
.achieve p{color:#fff;}

