body{
	background: #F2F2F2;
}
/*登录*/
.login_header{
	width: 100%;
	text-align: center;
	height:2.4rem; 
	padding-top: 0.6rem;
}
.login_header img{
	display: block;
	width: 50%;
	margin-left: 25%;
	background: #F2F2F2;
	padding: 2%;
}
.h1{
	font-size: 24px;
	color: #2b71b1;
	padding-top: 0.4rem;
}

.login_banner{
	width: 100%;
	height: 4.4rem;
	overflow: hidden;
	background: #f2f2f2;
}
.login_banner_li{
	width: 100%;
	 font-size: 0.22rem; 
	 padding-left:0.56rem;
	 position: relative;
	 z-index: 0;
	 float: left;
}
.login_banner_li_a{
	margin: 0 auto;
	width: 6rem;
	height: 0.7rem;
	line-height: 0.7rem;
	float: left;
	border-radius:5px ;
	padding-left:0.24rem ;
	border: 1px solid #e6e6e6;
	margin-left:0.3rem ;
	margin-bottom:0.06rem;
	font-size:0.24rem ;
	color: white;
	background: #FFFFFF; 
	margin-top:0.3rem ;
	position: relative;
}
.login_banner_li_a img{
	display: block;
	float: left;
	font-size:24px ;
	color: #999999;
	margin-top:0.1rem ;
	
}
.login_pho_input{
	width: 4.9rem;
	float: left;
	height: 100%;
	margin-left:0.3rem ;
	border: 0;
}
.shuru{
	width: 100%;
	font-size: 12px;
	padding-left:1.7rem;
	margin-top: 0.2rem;
}
.login_wrap{
	width: 100%;
	min-height: 0.8rem;
	overflow: hidden;
	padding-left:0.8rem ;
	margin-top: 0.2rem ;
}
.login_login{
	display: block;
	width:6rem;
	height: 0.8rem;
	margin: 0 auto;
	background: #2b71b1;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-radius: 5px;
    border: 0;
    margin-top:0.4rem ;
}
.login_register{
	width: 100%;
	font-size: 16px;
	float: left;
	text-align: center;
	text-decoration:underline;
	color: #2b71b1;
	padding-bottom: 0.4rem;
	background: #F2F2F2;
}
/*注册*/
.reg_top_wrap{
	width: 100%;
	height: 1.2rem;
	padding-top: 0.4rem;
	background: #F2F2F2;
	 
}
.reg_top{
	width: 60%;
	height: 0.8rem;
	background: #cccccc;
	margin: 0 auto;
	border-radius:28px;
	overflow: hidden;
}
.reg_top a{
	display: block;
	width: 50%;
	height: 0.8rem;
	background: #cccccc;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 0.8rem;
	color: #000;
}
.reg_top .li{
	background: #2b71b1;
	border-radius:28px;
	color: #FFFFFF;
}
.reg_banner_wrap{
	width: 100%; 
	overflow: hidden;
	background: #F2F2F2;
	min-height: 6rem;
	height: auto;
}
.reg_li_wrap{
	width: 100%;
	height: 0.8rem;
	background: #F2F2F2;
	float: left;
	position: relative;
	margin-top:0.3rem ;
}
.reg_li_left{
	width: 1.6rem;
	height: 100%;
	font-size:12px;
	text-align: right;
	line-height: 0.8rem;
	float: left;
	color: black;
	position: relative;
}
.page1_bottom{
	
	overflow: hidden;
	margin-top:0.2rem ;
}

.page1_bott_p{
	position: absolute;
	left: 0;
	top: 0.52rem;
	width: 7rem;
	 font-size: 0.28rem; 
	 padding-left:0.56rem;
	 z-index: 0;
	 float: left;
	 color: #ff0000;
	 
}
.page1_bott{
	position: absolute;
	left: 1.3rem;
	top: 0.75rem;
	width: 7rem;
	 font-size: 0.28rem; 
	 padding-left:0.56rem;
	 z-index: 0;
	 float: left;
	 color: #ff0000;
}
.page1_bot{
	position: absolute;
	left: 1.3rem;
	top: 0.75rem;
	width: 7rem;
	font-size: 0.28rem; 
	 padding-left:0.56rem;
	 z-index: 0;
	 float: left;
	 color: #ff0000;
	 z-index: 1;
}
#pho_code{
	width: 2.8rem;
	height: 0.7rem;
	float: left;
	border-radius:5px ;
	background: none;
	background: #FFFFFF;
	padding-left:0.1rem ;

}
.yanzheng{
	display: block;
	float: left;
	width: 1.6rem;
	height: 0.75rem;
	text-align: center;
	line-height: 0.75rem;
	color: white;
	background:#85838c ;
	border-radius:5px ;
	font-size: 0.26rem;
	margin-left:0.3rem ;
	margin-top:2px ;
	border: none;
}
.pho_input{
	width: 5rem;
	height: 0.7rem;
	float: left;
	background: none;
	padding-left:0.1rem ;
	border: 1px solid #bebebe;
	margin-left:0.3rem ;
	margin-top:0.06rem ;
	margin-bottom:0.06rem;
	font-size:0.24rem ;
	background: #FFFFFF;
}
.page4_btn_warp{
	width: 100%;
	background: #F2F2F2;
	margin-top:0.3rem ;
}        
.page4_btn{
	display: block;
	font-size: 0.3rem;
	height: 0.8rem;
	width:3.1rem ;
	text-align: center;
	line-height: 0.9rem;
	background:#2b71b1 ;
	color: white;
	margin: 0 auto;
	border-radius:20px ;
}
.login_footer{
	width: 100%;
	height: 1rem;
	font-size: 12px;
	color:#2b71b1;
	text-align: center;
	line-height: 1rem;
	text-decoration: underline;
	background: #F2F2F2;
}
.login_footer a{
	color: #2b71b1;
}
.reg_success{
	display: none;
	width:5rem ;
	height: 4rem;
	background:rgba(20,20,20,0.5);
	position:fixed;
	left: 1.25rem;
	top: 4rem;
	border-radius:20px ;
	overflow: hidden;
}
.reg_success i{
	font-size: 100px;
	color: white;
	padding-left:72px ;
}
.reg_success_top{
	width: 100%;
	height: 2.5rem;
	float: left;
}
.reg_success_bottom{
	width: 100%;
	height: 1.5rem;
	float: left;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 1.5rem;
}
/*index*/
.ind_header{
	text-align: center;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	background: #2b71b1;
}
.logo_img{
	margin-top:0.3rem ;
	width: 2.5rem;
	text-align: center;
	height: 1.5rem;
	padding-top: 0.5rem;
	float: left;
	background: none;
}
.logo_img img{
	display: block;
	height: auto;
	width: 2rem;
	margin-left: 0.25rem;
	margin: 0 auto;
}
.logo_word{
	font-size:20px;
	width:4rem;
	text-align: center;
	float: left;
	line-height: 2rem;
	color: #FFFFFF;
	font-weight: 600;
}
.ind_banner, .ind_order{
	width: 100%;
	min-height: 2rem;
	margin-top: 18px;
}
.ind_banner h4{
	font-weight: normal;
	margin-left:0.4rem ;
	font-size: 18px;
	color: #282828;
	margin-bottom: 20px;
}
.ind_banner_p{
	width: 100%;
	min-height: 0.4rem;
	font-size: 16px;
	overflow: hidden;
	margin-top:0.2rem ;
}
.ind_banner_p_left{
	color:#282828;
	float: left;
	width: 2.8rem;
	min-height:100%;
	padding-left:0.43rem ;
	height: 100%;
	
}
.ind_banner_p_right{
	color: #a5a5a5;
	width: 4rem;
	min-height:100% ;
	float: right;
	margin-right:20px ;
}
.ind_order h4{
	font-size: 18px;
	color: #282828;
	font-weight: 100;
	margin-left:0.4rem ;
	/*margin-top: 1rem;*/
}
.ind_order{
	margin-top:0.4rem ;
}
.ind_order_p{
	margin-top:0.2rem ;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	padding-left:0.5rem ;
}
.ind_order_p input{
	height:100%;
	width: 2rem;
	float: left;
	/*border-radius:20px ;*/
	border: 0;
	background: #2b71b1;
	margin-left:0.3rem ;
}
.ind_order_p select{
	width: 2.5rem;
	padding-left: .1rem;
	background: none;
	height: 100%;
	float: left;
	border: 1px solid #bebebe;
}
.footer_wrap{
	border-top:1px solid #dcdcdc ;
	width: 100%;
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: white;
}
.footer_wrap img{
	width: 0.5rem;
	height: 0.5rem;
	margin-top:0.1rem;
	margin-bottom:0.05rem ;
}
.footer_wrap a{
	color: #BEBEBE;
	display: block;
	float: left;
	width: 33%;
	font-size: 12px;
	height: 100%;
	text-align: center;
}
.footer_wrap .color_a{
	color: #2b71b1;
}
.color_white{
	color: #FFFFFF;
}
.table_order{
	font-size: 12px;
	margin-top:0.3rem ;
	float: left;
	color: #282828;
}
.table_order tr{
	display: block;
	width: 7.5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	
}
.table_order tr .timecolor{
	color: #FF0000;
}
.table_order .th_class{
	background: #a0a0a0;
	color: white;
}
.table_order .th_class th{
	text-align: center;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	float: left;
	width: 24%;
	height:100%;
}
.table_order tr td{
	text-align: center;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	float: left;
	width: 24%;
	height:0.5rem;
}
.timecolor{
	color: #282828;
}
/*我的团队*/
.team_banner{
	width: 100%;
	min-height: 2rem;
	padding-top:0.2rem;
}
.team_banner_p{
	width: 100%;
	height: 0.8rem;
	font-size: 0.4rem;
}

.team_banner_p div{
	width: 36%;
	text-align: center;
	float: left;
}
.team_banner h4{
	margin-left:0.4rem ;
	font-size: 18px;
	color: black;
	font-weight: normal;
	color: #282828;
}
.ind_order_p .vip_nub{
	width: 3rem;
	background: none;
	border: 1px solid #BEBEBE;
	border-radius:0 ;
	padding-left:0.1rem ;
	margin-left:0 ;
}
.table_team .th_class th{
	text-align: center;
	float: left;
	width: 25%;
	height:100%;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.table_team tr td{
	text-align: center;
	float: left;
	width: 25%;
	height:0.5rem;
	display:block;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis;
}
/*钱包*/
.purse_banner_p{
	width: 100%;
	min-height: 0.4rem;
	font-size: 20px;
	text-align: center;
	background: #F2F2F2;
}
.purse_banner_p_left li:first-child{
	font-size: 14px;
}
.purse_banner_p_left li:nth-child(2){
	font-size: 24px;
	color: #F4821E;
	font-weight: 600;
}
.team_banner_p{
	padding-top: 0.4rem;
}
.team_banner_p li:first-child{
	font-size: 14px;
}
.team_banner_p li:nth-child(2){
	font-size: 24px;
	color: #F4821E;
	font-weight: 600;
}




.body{
	padding-bottom:2rem;
}

/*购买*/
.purchase{
	width: 100%;
	min-height:4rem;
	height: auto;
	height: 4rem;
	float: left;
	margin-top:0.6rem ;
}
.purchase_li_wrap{
	width: 100%;
	height: 0.8rem;
	background: #F2F2F2;
	float: left;
	position: relative;
	margin-top:0.3rem ;
}
.purchase_li_wrap .reg_li_left{
	width: 2.5rem;
	height: 100%;
	font-size:12px;
	text-align: right;
	line-height: 0.8rem;
	float: left;
	color: black;
	position: relative;
}
.pho_input1 {
    width: 4rem;
    height: 0.7rem;
    float: left;
    background: none;
    padding-left: 0.1rem;
    border: 1px solid #bebebe;
    margin-left: 0.3rem;
    margin-top: 0.06rem;
    margin-bottom: 0.06rem;
    font-size: 0.24rem;
    background: #FFFFFF;
}
.purchase_p{
	font-size: 0.28rem;
    padding-left: 2.8rem;
    float: left;
    color: #ff0000;
    z-index: 1;
}
.purchase_a{
	height: 0.6rem;
    width: 1.5rem;
    float: left;
    border: 0;
    background: #2b71b1;
    margin-left: 0.3rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.6rem;
}
