 
input{
	-webkit-appearance: none;
}

/**********底部导航条**********/
.base{
	width: 100%;
	height: 0.98rem; 
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #CCCCCC;
}
.base a{
	float: left;
	width: 25%;
	text-align: center;
	height: 0.98rem; 
}
.base .hue{
	color: #2B7EDE;
}
.base img{
	display: block;
	width: .4rem;
	height: 0.4rem;
	margin: 0 auto;
	margin-top: 0.14rem;
}
.base span{
	display: block;
	font-size: 0.22rem;
	color: #999999;
	font-weight: 600;
	width: 100%;
	text-align: center; 
	margin-top: 0.06rem;
}

