/*********************提交转账 ****************************/
input{
	-webkit-appearance: none;
}
em{
	font-style: normal;
}

/*头部*/
.transferHead{
	width: 100%;
	height: .88rem;
	background: #2b7ede;
	display: flex; 
}
	.m-bg-l{
				width:.2rem;
				height:.44rem;
				background: url('../img/jiantou.png') no-repeat;
				position: absolute;
				left:.2rem;
				top:.24rem;
				background-size:100% 100%;
			}
.transferImg{
	width: 0.4rem;
	text-align: right;
	height: 0.88rem; 
	
} 
.transferImg img{
	display: block;
	width: 0.2rem;
	height: 0.36rem;
	margin-left: 0.2rem;
	margin-top: 0.26rem;
}
.transferWen{
	padding-right: 0.4rem;
	flex: 1;
	text-align: center;
	height: 0.88rem; 
	line-height: 0.88rem;
	font-size: 0.4rem;
	font-weight: 500;
	color: #fff; 
} 

/*转账内容*/
.transferContent{
	width: 7.1rem;
	height: 3rem; 
	margin: 0.3rem auto 0;
	background: #fff;
}
.transferContent li{
	width: 6.7rem;
	height: 1rem;
	line-height: 1rem; 
	border-bottom: 1px solid #ededed;
	margin: 0 auto;
	font-size: 0.32rem; 
}
.transferContent span{
	float: left;
	width: 2rem; 
	height: 0.5rem;
	line-height: 0.5rem;
	margin-top: 0.25rem;
	text-align: center;
	border-right: 1px solid #ededed;
	box-sizing: border-box;
	color: #666666;
}
.transferContent input{
	float: left;
	width: 4.2rem; 
	padding-left: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	margin-top: 0.25rem;
	color: #cccccc;
	border: 0; 
}
.transferContent font{
	color: red;
}
.p{
	width: 100%;
	font-size: 0.14rem;
	text-align: center;
}
.btn{
	display: block;
	width: 7.1rem;
	text-align: center;
	height: 0.8rem;
	line-height: 0.8rem;
	margin: 0 auto;
	background: #2b7ede;
	border: none;
	color: #fff;
	margin-top: 0.32rem;
	font-size: 0.32rem;
	border-radius: 5px;
	-webkit-appearance: none;
	letter-spacing: 4px;
}




/*********************我的帐户 ****************************/
/*我的帐户内容区*/
.nowAccount{
	width: 100%;
	padding-left: 6%;
	height: 0.88rem;
	line-height: 0.88rem;
	font-size: 0.32rem;
	border-bottom: 1px solid #333333;
	color: #565656;
}

.mybalance{
	width: 100%;
	padding-left: 6%;
	padding-right: 6%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0;
}
.mybalance font{
	float: left;
	font-size: 0.32rem;
	color: #000000;
	font-weight: 600;
}
.mybalance a{
	float: right;
	width: 2rem;
	text-align: center;
	height: 0.7rem;
	line-height: 0.7rem;
	background: #2B7EDE;
	color: #FFFFFF;
	font-size:0.32rem;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 0.15rem;
}

/*我的余额*/
.my li{
	border-bottom: none; 
}
.my span{
	border-right: none;
}
.my em{
	float: left;
	width: 4.2rem; 
	padding-left: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	margin-top: 0.25rem;
	color: #f44645;
}

/*我的奖励*/
.myReward{
	width: 100%;
	padding-left: 6%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.32rem;
	color: #000000;
	font-weight: 600;
}
.reward{
	height: 2rem;
}
.reward span{
	width: 50%;
}
.reward em{
	margin-left: 0.44rem;
}
