

.hint_wrap{
	width: 100%;
	height:100% ;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(5,5,5,0.5);
}

.hint{
	width: 6.1rem;
	height: 6.6rem;
	background: #ffffff;
	margin: 2rem auto;
	position: relative;
	border-radius:5px ;
	display: block;
}
.hint_top{
	width: 100%;
	height: 2rem;
	float: left;
}
.hint_top img{
	display: block;
	width: 1.24rem;
	margin: 0 auto;
}
.hint_title{
	width: 100%;
	height: 0.5rem;
	float: left;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.5rem;
	font-weight: 900;
	color: #010101;
}
.hint_bottom{
	width: 100%;
	height: 3rem;
	float: left;
	
}
.hint_bottom_div{
	width: 5.5rem;
	min-height: 2.33rem;
	margin: 0 auto;
	margin-top: 0.22rem;
}
.hint_bottom_div p{
	font-size: 0.28rem;
	color: #575757;
	line-height: 0.38rem;
	margin-top:0.15rem ;
}
#hintimg{
	position: absolute;
	right: 0.15rem;
	top: 0.1rem;
	width: 0.38rem;
	padding: 0.1rem;

}
.hint_bottom_div span{
	color: red;
}
	
