/*个人中心的主页面*/ 
body{
	height:100%;
	width:100%;
	background: #e4e4e4;
}
.jiantou a{
	position:absolute;
	background: url(../img/jiantou.png) no-repeat;
	display: inline-block;
	left:.2rem;
	top:.24rem;
	width:.2rem;
	height:.36rem;
	background-size:100% 100%;
}
.jiantou-l{
	width:.13rem;
	height:.24rem;
	background: url(../img/jiantouL.png) no-repeat;
	background-size:100% 100%;
	display: inline-block;
	line-height: .8rem;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.fix:after{
	height:0;
	content:'';
	clear: both;
	display: block;
}
.fix{
	*zoom:1;
}
/*个人中心主页*/
.heart-head {
	margin:0;
	height:.9rem;
	background:#2b7ede;
	line-height: .9rem;
}
.heart-head h2{	
	font-size:.42rem;
	text-align: center;
	/*font-family: sans-serif;*/
	margin:0;
	color:#fff;
}
.exit-set{
	position:relative;	
}
.exit-box{
	position:absolute;	
	right:.4rem;
	top:.24rem;
	background: url(../img/set.png) no-repeat;
	background-size:100% 100%;
	width:.4rem;
	height:.4rem;
	cursor: pointer;	
}
.exit-box ul{
	position:absolute;
	top:.656rem;
	right:-.2rem;
	height:1.2rem;
	width:2rem;
	background:#f1f1f1;
	font-size: .28rem;
	display: none;
	cursor: pointer;	
}
.exit-box ul li{
	height:.6rem;
	line-height: .6rem;
	text-align: center;
}
.exit-box ul li:first-child{
	border-bottom:1px solid #ccc;
}
.wrap{
	margin:0 .2rem;
	font-size:.32rem;
	height:3rem;
	background: #fff;
	padding:0 .44rem;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-top:.24rem;
}
.gen-l h3
{
	font-size:.32rem;
	font-weight: normal;
	margin:.32rem 0 .24rem 0;
	color:#101010;
}
.wrap-info span{
	color:#101010;
}
.wrap-info .mun-info{
	color:#2b7ede;
}

.wrap-info{
	float:left;
	font-size:.32rem;
}
.wrap .fr a{
	color:#a2a2a2
}

.asset{
	height :1rem;
	font-size: .32rem;	
	color:#101010
}
.asset ul li{
	margin-top:.2rem;
	float:left;
	width:33.3333%;
	border-left:1px solid #ddd;
	text-align: center;
}
.asset ul >li:first-child{
		border-left:none;
}
.asset ul li div{
	margin:.1rem 0;
}
.asset ul .a-one div{
	color:#ff8b24;
}
.asset ul .a-two div{
	color:#71ce0c;
}
.asset ul .a-three div{
	color:#f44747;
}
.asset ul span{
	color:#888;
}

.setting{
	margin:0 .2rem;
	padding:0 .44rem;
	font-size:.32rem;
	height:5rem;
	background: #fff;
	margin-top:.24rem;
	border-bottom:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color:#333;
}
.setting a{
	line-height: 1rem;
	height:1rem;
	border-bottom:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: block;
}
.setting a {
	color:#ccc;
}
.setting .fl{
	color:#101010;
}
.setting .undiend{
	margin-right:.3rem;
	color:#ccc;
}

/*个人中心主页结束*/


/*个人中心普通会员设置开始*/



.autonym-top{
	position:relative;
	margin:0;
	background:#2b7ede;
	line-height: .9rem;
	height:.9rem;
}
.autonym-top h2{
	font-size:.42rem;
	text-align: center;
	color:#fff;
}
.autonym-middle{
	margin:.66rem .2rem 0;
	height:2rem;
	background:#fff;
	padding:0 0.2rem;	
}
.autonym-middle div:first-child{
	border-bottom: 1px solid #ededed;
}
.a-m-name,.a-m-p{
	height:1rem;
	padding-top:.2rem;
	padding-bottom: .2rem;
}
.a-m-name span,.a-m-p span{
	font-size: .28rem;
	width:30%;
	text-align: center;
	float:left;
	border-right:1px solid #ededed;
	height:.6rem;
	line-height: .6rem;
	color:#666;
}
.a-m-name input,.a-m-p input{
	float:left;
	height:.6rem;
	line-height: .6rem;
	border:none;
	width:67%;
	margin-left:3%; 
	font-size: .28rem
}
.law-info{
	padding:0 .44rem;
	font-size: .28rem;
	margin-top:.2rem;
}
.real-name{
	padding:0 .44rem;
}
.real-name button{
	font-size: .28rem;
	width:100%;
	height:.8rem;
	background:#2b7ede;

	border-radius: 5px;
	display: block;
	text-align:center;
	line-height: .8rem; 
	margin-top:.58rem;
	color:#fff;
	border:none;
}
.real-name2 button{
	font-size: .28rem;
	width:100%;
	height:.8rem;
	background:#2b7ede;

	border-radius: 5px;
	display: block;
	text-align:center;
	line-height: .8rem; 
	margin-top:.58rem;
	color:#fff;
	border: none;
} 
.mark,.mark1{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: rgba(5,5,5,.47);
	display: none;	
}
.mark-box{
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-2.8rem;
	margin-top:-1.7rem;
	width:5.6rem;
	height:3.4rem;
	background: #fff;
	border-radius: 5px;
	font-size: .28rem;
	/*min-width: 56px;
	min-height: 34px;*/
}
.mark-box .mark-bg{
	width:.96rem;
	height:.96rem;
	background: url(../img/dagou.jpg) no-repeat;
	margin:.46rem auto 0;
	padding-top:46px;
	background-size:100% 100%;
}
@media (max-width: 375px){
	.mark-box .mark-bg{
		width:.99rem;
		background-size:100% 94%;
	}
}
.mark-box p{
	color:#282828;
	text-align: center;
	margin:.24rem 0 .42rem 0;
}
.mark-box .succ{
	height:.88rem;
	border-top: 1px solid #ddd;
	text-align: center;
	line-height: .88rem
	
}


/*修改手机号*/
.phone-middle{
	height:3rem;
}
.a-m-m{
	border-top:1px solid #ededed;
}
.p-sel span{
	transform: rotate(180deg);
}
.phone-middle .a-m-p{
	position:relative;
}
.phone-middle .a-m-p .put-phone{
	width:40%;
}
.phone-middle .a-m-p .get-pwd{
	position: absolute;
	right:1px;
	width:1.6rem;
	height:.6rem;
	background: #2b7ede;
	border-radius: 5px;;
	color:#fff;
	display: block;
	font-size: .22rem;
	line-height: .6rem;
	text-align: center;
	border: none;
	cursor: pointer;
}




