			.myt-base{
				margin-bottom: 0;
			}
			.memb_header{
				width: 100%;
				height: 0.9rem;
				background:#2b7ede ;
				text-align: center;
				line-height: 0.9rem;
				color: #fffcfd;
				font-size: 0.42rem;
				/*float: left;*/
				position: relative;
			}
			.m-bg-l{
				width:.2rem;
				height:.44rem;
				background: url('../img/jiantou.png') no-repeat;
				position: absolute;
				left:.2rem;
				top:.24rem;
				background-size:100% 100%;
			}
			.memb_header>img{
				position: absolute;
				left: 0.3rem;
				top: 0.26rem;
				width: 0.30rem;
				height: 0.46rem;
			}
			.basic_info{
				margin-top:0.3rem ;
				width: 100%;
				height: 0.68rem;
				border-bottom:1px solid #cccccc ;
				font-size: 0.36rem;
				/*color: #381555;*/
				color:#282828;
				line-height: 0.68rem;
				text-indent: 0.35rem;
				float: left;
				font-weight: 900;
			}
			.basic_info_div{
				padding-top:0.2rem ;
				width: 100%;
				min-height: 2.6rem;
				float: left;
			}
			.info_li{
				color: #3f3f3f;
				width: 100%;
				min-height: 0.54rem;
				float: left;
				font-size: 0.32rem;
				padding-top:0.1rem ;
				overflow: hidden;
			}
			.info_li .info_li_left{
				width: 2rem;
				min-height:0.54rem;
				float: left;
				text-align: right;
				line-height: 0.54rem;
			}
			.info_li .info_li_right{
				width: 4.8rem;
				height:0.54rem;
				float: left;
				padding-left:0.6rem ;
				line-height: 0.54rem;
				border: none;
				
			}
			.info_pad{
				min-height: 0.86rem;
				border-bottom:1px solid #cfcfcf ;
			}
			.info_pad .info_li_left{
				min-height: 0.86rem;
				line-height: 0.84rem;
			}
			.info_pad .info_li_right{
				min-height: 0.86rem;
				line-height: 0.84rem;
			}
			.page_bottom{
				width: 100%;
				min-height:0.8rem ;
				font-size: 0.3rem;
				float: left;
				margin-top:1rem ;
			}
			.page_bottom_ma{
				width: 6.70rem;
				height: 0.8rem;
				background:#2b7ede;
				color: #edf6e5;
				margin: 0 auto;
				text-align: center;
				line-height: 0.8rem;
				border-radius:5px ;
				margin-bottom: 2rem;
			}
			
/*购买*/


.clolor_blue{
				color: #2B71B1;
			}
			.buy_info_div{
				height: 1.6rem;
			}
			.nowuser_wrap{
				position: relative;
				
			}
			.nowuser{
				font-size: 0.28rem;
				width: 4rem;
				height: 0.6rem;
				position: absolute;
				right: 0;
				top: 0rem;
				/*overflow: hidden;*/
			}
			.nowuser li{
				float: left;
				min-width:1.4rem ;
				height: 0.6rem;
			}
			.memb_header .header_dian{
				position: absolute;
				right: 0.3rem;
				top: 0.35rem;
				width: 0.4rem;
				/*height: 0.46rem;*/
			}
			.header_dian_wrap{
				width: 0.9rem;
				height:0.8rem;
				position: absolute;
				right: 0.3rem;
				top: 0.1rem;
			}
			.buy_header_order{
				width:2.2rem ;
				height: 1.2rem;
				font-size: 0.18rem;
				position: absolute;
				top: 0.8rem;
				right:-.3rem;
				display: none;
			}
			.buy_header_order li{
				width: 100%;
				height: 0.6rem;
				background: #F1F1F1;
				color: #666666;
				text-align: center;
				line-height: 0.6rem;
				font-size: .32rem;				
			}
			.buy_header_order li:first-child{
				border-bottom:1px solid #ccc;
			}
/*订单*/
			.banner{
				width: 100%;
				min-height:10rem ;
				height: 10rem;
				background: #f1f1f1;
			}
			.order_header{
				width: 100%;
				height: 0.8rem;
				border: 1px solid #d4d4d4;
				float: left;
				padding-left:0.2rem ;
			}
			.order_header li{
				float: left;
				height: 0.8rem;
				font-size: 0.26rem;
			}
			.order_header_left{
				line-height: 0.8rem;
				width: 2rem;
			}
			.order_header_right{
				line-height: 0.8rem;
				width: 4rem;
				color: #2B71B1;
			}
			.order_table{
				display: block;
				width: 98%;
				min-height: 2rem;
				margin-left:1% ;
				font-size: 0.32rem;
				float: left;
				border-color: #ededed;
			}
			.order_table tr{
				display: block;
				width: 100%;
				min-height: 0.82rem;
				height: 0.82rem;
				float: left;
				font-size: 0.26rem;
			}
			.order_table td{
				width: 1.43rem;
				height: 0.82rem;
				text-align: center;
				line-height: 0.82rem;
				display: block;
				float: left;
				border: 1px solid #ededed;
				font-size: 0.18rem;
			}
			.order_table th{
				width: 1.4rem;
				height: 0.82rem;
				text-align: center;
				line-height: 0.82rem;
				display: block;
				border: 1px solid #2B71B1;
				float: left;
			}
			.order_table .th_tr{
				background:#2b7ede;
				color: #ffffff;
			}
			.order_table tr .order_time{
				line-height: 0.4rem;
			}
			.order_table .zhifub{
				width: 1.74rem;
			}
			.order_table .zonge{
				width: 1.26rem;
			}
			.my_paystate{
				position: relative;
			}
			.paystate_wrap{
				width: 1.5rem;
				height: 2.6rem;
				background: #2B71B1;
			}
			.paystate_wrap li{
				width: 100%;
				height:0.8rem;
				text-align: center;
				line-height: 1rem;
				float: left;
				border-bottom:1px solid #2265b3 ;
			}
			.menu{
				display: none;

			}
			
/*我的团队*/
.team_header{
	padding-left:0.4rem;
}
.team_header li{
				float: left;
				height: 0.8rem;
				font-size: 0.32rem;
				padding-left:0.3rem ;
			}
			.team_header_left{
				line-height: 0.8rem;
				width: 3rem;
			}
			.team_header_right{
				line-height: 0.8rem;
				width: 4rem;
				color: #2B71B1;
			}
			.team_table{
				display: block;
				width: 98%;
				min-height: 2rem;
				margin-left:1% ;
				font-size: 0.32rem;
				float: left;
				border-color: #ededed;
			}
			.team_table tr{
				display: block;
				width: 100%;
				min-height: 0.82rem;
				height: 0.82rem;
				float: left;
				font-size: 0.26rem;
			}
			.team_table td{
				width: 1.52rem;
				height: 0.82rem;
				text-align: center;
				line-height: 0.82rem;
				display: block;
				float: left;
				border: 1px solid #ededed;
				font-size: 0.18rem;
			}
			.team_table th{
				width: 1.52rem;
				height: 0.82rem;
				text-align: center;
				line-height: 0.82rem;
				display: block;
				border: 1px solid #2B71B1;
				float: left;
			}
			.team_table .th_tr{
				background: #2b7ede;
				color: #ffffff;
			}
			.color_red{
				color: red;
			}
			.team_remcon{
				width: 100%;
				height: 0.8rem;
				float: left;
				padding-left:0.2rem ;
			}
			.team_remcon_ul{
				width: 30%;
				height: 0.8rem;
				float: left;
				font-size: 0.32rem;
			}
			.team_remcon_ul li{
				width: 50%;
				height:0.8rem;
				line-height: 0.8rem;
				text-align: center;
				float: left;
			}
			.team_table .team_level{
				width: 1.2rem;
				position: relative;
			}
			.team_vip_level{
				position: absolute;
				left: 0;
				top: 0.82rem;
				width: 1.4rem; 
				height: 2.42rem;
				background: #2B71B1;
				z-index: 1;
			
			}
			.team_vip_level li{
				width: 100%;
				height: 0.6rem;
				float: left;
				text-align: center;
				line-height: 0.6rem;
				border-bottom:1px solid #CCCCCC ;
			}
			.menu{
				/*display:none;*/
			}
			.team_table .zonge{
				border-right:none;
			}
			
			.banner_bottom{
				width: 100%;
				height: 1rem;
				float: left;
				
			}
			.banner_bottom ul{
				width: 7rem;
				height: 1rem;
				padding-left:1.25rem ;
			}
			
			
			.table_order1 tr .order_time{
				line-height: 0.4rem;
			}
			.table_order1 .zhifub{
				width: 1.74rem;
			}
			.table_order1 .zonge{
				width: 1.26rem;
			}
	

	