html,body,div,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,hr,em,a,i{margin:0;padding:0;}
body{color:#a0a0a0;-webkit-text-size-adjust:none;}
html,body{
	width: 100%;
	min-height: 100%;
	overflow: auto;
}
body, input, textarea, select, button{ font-family:"Microsoft Yahei","PingFangSC-Regular","PingHei" !important;}
input{ 
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
   -webkit-user-modify: read-write-plaintext-only;
}
*{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none;}
ul,ol{list-style:none outside;}
input{
	-webkit-appearance: none;
}
li{list-style: none;}
table {border-collapse: collapse;vertical-align: middle;border-spacing: 0;empty-cells: show}
table th,table td{ vertical-align:middle; text-align:center;}
:focus,:active {outline: none}
