<!DOCTYPE html>
<html lang="en" class="my">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/commen.css">
</head>
<body>
<div class="overall ">
    <!--头部-->
    <div class="header">
        <div class="header-logo">
            <img src="../../../resources/qkl_tfcc/imgs/logo1.png" alt="">
        </div>
        <!--时间栏-->
        <div id="nowTime" class="data">
            <p  class="time"><span id=localtime></span></p>
            <div class="xt">
                <span>尊敬的</span>
                <a class="right" href=""></a>
                <span>，您好！欢迎使用本系统</span>
            </div>
            <div class="Sign">
                【退出】
            </div>
        </div>

    </div>
    <!--内容-->
    <div class="content">
        <div class="content-l">
            <dl>
                <dt class="dt_img">
                    <!--<img src="image/LPtouxiang.jpg" alt=""></dt>-->
                <dd class="lp">LP</dd>

            </dl>
            <dl>
                <dt><img src="../../../resources/qkl_tfcc/imgs/erweima.png" alt=""></dt>
                <dd class="qr">我的二维码</dd>

            </dl>
        </div>
    </div>
</div>
<!--选项部分-->
<div class="xuanxiang" style="position: absolute">
    <ul class="fl">
        <li><a  href="../../html/lpmember/lpstock.html">我的股权</a></li>
        <li><a  href="../../html/lpmember/lpteam.html">我的团队</a></li>
        <li><a class="security-z" href="#">我的账户</a></li>
        <li ><a  href="../../html/lpmember/lprersonal.html">个人中心</a></li>
        <li  ><a href="../../html/lpmember/lpsecuritycenter.html">安全中心</a></li>
        <li><a href="http://www.r8exchange.com">R8交易所</a></li>
    </ul>
</div>
<div class="tuandui">
    <p>您当前的位置：<b>我的账户</b></p>
    <div class="yu_e">
        <div class="zhuan_z">
            <div class="my_yu_e">我的余额</div>
            <div class="TF_JF">
                <span>TFCC </span><b class="tfcc">800,000.00</b>
                <span>JFCC </span><b class="jfcc">100,000.00</b>
                <a href="lpaccount/lptransfer.html">转账</a>
            </div>

        </div>
        <div class="jiang_l">
            <div class="my_jiang_l">我的奖励</div>
            <ul class="tui_j">
                <li class="tui_j_r"><span>推荐LP会员奖励</span><br><b class="myjiangli">30,000.00</b></li>
                <li class="tui_j_r"><span>推荐LP会员购买股权奖励</span><br><b class="tuijianjiang">30,000.00</b></li>
                <li><span>我购买股权的奖励</span><br><b class="mygoumaijiang">30,000.00</b></li>
            </ul>
        </div>
        <div  style="clear: both;border:1px solid #000000;margin-top: 35px">
            注册时间
        </div>
    </div>
</div>
<!---时间日期-->
<script type="text/javascript">
    function showLocale(objD){
        var str,colorhead,colorfoot;
        var yy = objD.getYear();
        if(yy<1900) yy = yy+1900;
        var MM = objD.getMonth()+1;
        if(MM<10) MM = '0' + MM;
        var dd = objD.getDate();
        if(dd<10) dd = '0' + dd;
        var hh = objD.getHours();
        if(hh<10) hh = '0' + hh;
        var mm = objD.getMinutes();
        if(mm<10) mm = '0' + mm;
        var ss = objD.getSeconds();
        if(ss<10) ss = '0' + ss;
        var ww = objD.getDay();
        if  ( ww==0 )  colorhead="<font color=\"#ffffff\">";
        if  ( ww > 0 && ww < 6 )  colorhead="<font color=\"#ffffff\">";
        if  ( ww==6 )  colorhead="<font color=\"#ffffff\">";
        if  (ww==0)  ww="星期日";
        if  (ww==1)  ww="星期一";
        if  (ww==2)  ww="星期二";
        if  (ww==3)  ww="星期三";
        if  (ww==4)  ww="星期四";
        if  (ww==5)  ww="星期五";
        if  (ww==6)  ww="星期六";
        colorfoot="</font>"
        str = colorhead + yy + "-" + MM + "-" + dd + " " + hh + ":" + mm + ":" + ss + "  " + ww + colorfoot;
        return(str);
    }

    function tick(){
        var today;
        today = new Date();
        document.getElementById("localtime").innerHTML = showLocale(today);
        window.setTimeout("tick()", 1000);
    }

    tick();
</script>
<!---时间日期结束-->
<script src="../../../resources/qkl_tfcc/js/common/jquery-2.1.1.min.js"></script>
<script src="../../../resources/qkl_tfcc/js/lpmember/lpaccount/lpaccount.js"></script>
</body>
</html>