<!DOCTYPE html>
<html lang="en" class="my">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/commen.css">
</head>
<body>
<div class="overall ">
    <!--头部-->
    <div class="header">
        <div class="header-logo">
            <img src="../../../resources/qkl_tfcc/imgs/logo1.png" alt="">
        </div>
        <!--时间栏-->
        <div id="nowTime" class="data">
            <p  class="time"><span id=localtime></span></p>
            <div class="xt">
                <span>尊敬的</span>
                <a class="right" href=""></a>
                <span>，您好！欢迎使用本系统</span>
            </div>
            <div class="Sign">
                【退出】
            </div>
        </div>

    </div>
    <!--内容-->
    <div class="content">
        <div class="content-l">
            <dl>
                <dt class="dt_img">
                    <!--<img src="image/LPtouxiang.jpg" alt=""></dt>-->
                <dd class="lp">LP</dd>

            </dl>
            <dl>
                <dt><img src="../../../resources/qkl_tfcc/imgs/erweima.png" alt=""></dt>
                <dd class="qr">我的二维码</dd>

            </dl>
        </div>
    </div>
</div>
<!--选项部分-->
<div class="xuanxiang" style="position: absolute">
    <ul class="fl">
        <!--<li><a  href="../../html/lpmember/lpstock.html">我的股权</a></li>-->
        <li>
            <a class="security-t" href="#">我的团队</a>
        </li>
        <li><a href="../../html/lpmember/lpaccount.html">我的账户</a></li>
        <li ><a href="../../html/lpmember/lprersonal.html">个人中心</a></li>
        <li  ><a href="../../html/lpmember/lpsecuritycenter.html">安全中心</a></li>
        <li><a href="http://www.r8exchange.com">R8交易所</a></li>
    </ul>
</div>
<div class="tuandui" style="position: absolute">
    <p style="width: 1673px">您当前的位置：<b>我的团队</b></p>
    <div class="jilei">
        <div class="jilei_lp">
            <span>累计LP会员</span><b class="lphuiyuan">107</b>
        </div>
        <!--<div class="jilei_zh">-->
            <!--<span >会员账号</span>-->
            <!--<input style="margin-left: 30px" type="text" class="huiyuanzhanghao">-->
            <!--&lt;!&ndash;<button type="button" class="huiyuan_c_x"> 查询</button>&ndash;&gt;-->
            <!--<input type="button"  class="huiyuan_c_x" value="查询" style="margin-left: 300px;background: #ffffff;">-->
        <!--</div>-->
    </div>
    <!--<table class="result-tab" id="result-tab2">-->
        <!--&lt;!&ndash;    <tr>-->
               <!--<th>用户名</th>-->
               <!--<th>id</th>-->
           <!--</tr> &ndash;&gt;-->
    <!--</table>-->
    <!--<div class="pages1" id="pages2">-->
        <!--&lt;!&ndash;  <td style="vertical-align:top;"><div class="pagination" style="float: right;padding-top: 0px;margin-top: 0px;">${page.pageStr}</div></td>       &ndash;&gt;-->

    <!--</div>-->
</div>

<!---时间日期-->
<script type="text/javascript">
    function showLocale(objD){
        var str,colorhead,colorfoot;
        var yy = objD.getYear();
        if(yy<1900) yy = yy+1900;
        var MM = objD.getMonth()+1;
        if(MM<10) MM = '0' + MM;
        var dd = objD.getDate();
        if(dd<10) dd = '0' + dd;
        var hh = objD.getHours();
        if(hh<10) hh = '0' + hh;
        var mm = objD.getMinutes();
        if(mm<10) mm = '0' + mm;
        var ss = objD.getSeconds();
        if(ss<10) ss = '0' + ss;
        var ww = objD.getDay();
        if  ( ww==0 )  colorhead="<font color=\"#ffffff\">";
        if  ( ww > 0 && ww < 6 )  colorhead="<font color=\"#ffffff\">";
        if  ( ww==6 )  colorhead="<font color=\"#ffffff\">";
        if  (ww==0)  ww="星期日";
        if  (ww==1)  ww="星期一";
        if  (ww==2)  ww="星期二";
        if  (ww==3)  ww="星期三";
        if  (ww==4)  ww="星期四";
        if  (ww==5)  ww="星期五";
        if  (ww==6)  ww="星期六";
        colorfoot="</font>"
        str = colorhead + yy + "-" + MM + "-" + dd + " " + hh + ":" + mm + ":" + ss + "  " + ww + colorfoot;
        return(str);
    }

    function tick(){
        var today;
        today = new Date();
        document.getElementById("localtime").innerHTML = showLocale(today);
        window.setTimeout("tick()", 1000);
    }

    tick();
</script>
<!---时间日期结束-->


<script src="../../../resources/qkl_tfcc/js/common/jquery-2.1.1.min.js"></script>
<script src="../../../resources/qkl_tfcc/js/lpmember/lpteam/lpteam.js"></script>
<!--分页表格-->
<!--<script>-->
    <!--$(function () {-->
        <!--var flag = true;-->
        <!--$(".huiyuan_c_x").click(function () {-->
            <!--alert("1111111");-->
            <!--var showcnt =10; //每页页数初始值-->
            <!--var  myselect=document.getElementById("showcnt");-->
            <!--if(myselect==null||myselect=="null"){-->
            <!--}else{-->
                <!--showcnt=myselect.options[myselect.selectedIndex].value;-->
            <!--}-->
            <!--if(flag){-->
                <!--reload_table(1,showcnt);-->
            <!--}-->
        <!--})-->

        <!--function reload_table(currentPage,showCount) {-->
            <!--alert("22222");-->
            <!--var rsStr = "";-->
            <!--var phoneVal = $('.phone').val();-->
            <!--console.log("phoneVal is " + phoneVal);-->
            <!--var passVal = $('.pass').val();-->
            <!--console.log("passVal is " + passVal);-->
            <!--$.ajax({-->
                <!--type: 'POST',-->
<!--//		url: '../../../service/user/login/',-->
                <!--url: '../../../service/test/queryuser/',-->
                <!--dataType: 'json',-->
                <!--data: {-->
                    <!--huiyuanzhanghao:$('.huiyuanzhanghao').val(),-->
<!--//                phone: $('.phone').val(),-->
<!--//                pass: $('.pass').val(),-->
                    <!--currentPage: currentPage,-->
                    <!--showCount: showCount-->
                <!--},-->
                <!--success: function (data) {-->
                    <!--alert('请求成功');-->
                    <!--var message = data.message;-->
                    <!--console.log("success is " + data.success);-->
                    <!--console.log("data is " + data.map);-->
                    <!--console.log("data.userList is " + data.data.userList);-->
                    <!--var usList = data.data.userList;-->
                    <!--console.log("usList.length " + usList.length);-->
                    <!--console.log("data.data.page.pageStr " + data.data.page.pageStr);-->
                    <!--var tablecols = "<tr> \n"-->
                            <!--+ " <th>注册时间</th> \n"-->
                            <!--+ "<th>LP会员账号</th> \n"-->
                            <!--+ "<th>LP会员姓名</th> \n"-->
                            <!--+ "<th>购买股份（股）</th> \n"-->
                            <!--+ "</tr> \n";-->
                    <!--rsStr = tablecols;-->
                    <!--for (var i = 0; i < usList.length; i++) {-->
                        <!--rsStr = rsStr + "<tr>";-->
                        <!--console.log("usList(" + i + ") name is " + usList[i].name);-->
                        <!--rsStr = rsStr + "<td>" + usList[i].name + "</td>";-->
                        <!--rsStr = rsStr + "<td>" + usList[i].test_user_id + "</td>";-->
                        <!--rsStr = rsStr + "</tr>";-->
                    <!--}-->

                    <!--console.log("rsStr " + rsStr);-->
<!--//                    $(".result-tab").append(rsStr);-->
                    <!--$(".result-tab").html(rsStr);-->
<!--//			 $(".pages1").append(data.data.page.pageStr);-->
                    <!--$(".pages1").html(data.data.page.pageStr);-->

<!--//			$('.phone').val(data.data.phone);-->
                    <!--alert("message is " + message);-->

<!--//			 if(data.success){-->
<!--//				 window.location.href ="../index.html";-->
<!--//			 }-->
                <!--}, error: function (data) {-->
                    <!--alert('请求错误');-->
                <!--}-->
            <!--})-->
        <!--}-->

    <!--})-->
<!--</script>-->

</body>
</html>