<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/general/general-self.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/date/dateRange.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/date/monthPicker.css">
    <link rel="stylesheet" href="../../../resources/qkl_tfcc/css/common/ssi-uploader.css">
    <script src="../../../resources/qkl_tfcc/js/date/dateRange.js"></script>
    <script src="../../../resources/qkl_tfcc/js/date/monthPicker.js"></script>
    <script src="../../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
    <script src="../../../resources/qkl_tfcc/js/common/ssi-uploader.js"></script>
</head>
<body>
<div class="mark2">
    <div class="mark-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<div class="header fix">
    <div class="logo fl">
        <img src="../../../resources/qkl_tfcc/imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a href="in-team.html">我的团队</a></li>
                <li><a href="in-account.html">我的账户</a></li>
                <li ><a class="active" href="in-myhelf.html">个人中心</a></li>
                <li><a href="in-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="main-top">你当前的位置：<span>个人中心</span></div>
            <div class="main-photo">
                <div class="pic fl">
                    <p>个人头像</p>
                    <div></div>
                </div>
                <div class="upload fl">
                    <p>上传头像</p>
                        <input type="file" multiple id="ssi-upload"/>
                </div>
            </div>
            <form action="" class="form">
                <div><label >姓名</label><input type="text" name="autonym" placeholder="未实名认证"><span class="hint">你还未实名认证，为保障你的交顺利进行，请及时前往安全中心进行认证</span></div>
                <div><label >身份证号码</label><input type="text"  name="card" placeholder="未实名认证"><span class="hint"></span></div>
                <div><label >手机号</label><input type="text"  name="phone" placeholder="13810381111"><span class="hint"> 前往 ”安全中心“ 进行修改。</span></div>
                <div><label >微信号</label><input type="text"  name="weixin" placeholder="13810381111"><span class="hint"></span></div>
                <div><label >支付宝账号</label><input type="text" name="alipay"  placeholder="13810381111"><span class="hint"></span></div>
                <div><label >通讯地址</label><input type="text" name="address"  placeholder="北京市西城区南小街国英大厦1号"><span class="hint"></span></div>
                <div><label >邮编</label><input type="text" name="postcode" placeholder="100015"><span class="hint"></span></div>
                <div><a href="" onclick="sub_save()"></a></div>
            </form>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img src="" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script>
    $('#ssi-upload').ssi_uploader({
        url: 'uploadAction.php',
        maxFileSize: 6,
        allowed: ['jpg', 'gif', 'txt', 'png', 'pdf']
    });
</script>
<script src="../../../resources/qkl_tfcc/js/common/dateCom.js"></script>
<script src="../../../resources/qkl_tfcc/js/common/myselfCom.js"></script>
</body>
</html>