*{
    font-family:"Microsoft YaHei";
}
.container {
    width:100%;
    height:844px;
    position: relative;
}
.container .side-bar{
    width:248px;
    height:100%;margin-left: -100%;
}
.container .main{
    width:100%;
    height:100%;
    float:left;

}
.container .mains{
    margin-left:248px;
    height:100%;
}

.mark3,.mark2{
     position:fixed; 
	_position:absolute; 
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(5, 5, 5, 0.47);
    z-index: 9999;
    display: none;
}
 .mark2-box{
    position: absolute;
    top:50%;
    left:50%;
    width:500px;
    height:256px;
    margin-left:-250px;
    margin-top:-128px;
    background: #fff;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
}
.mark2-box .success-icon{
    background: url("../../imgs/btn2.jpg") no-repeat ;
    width:80px;
    height:80px;
    margin: 40px 210px 0px;
    background-position:-69px -14px;
}
.mark2-box p{
    margin-top: 16px;
    text-align: center;
    color:#282828;

}
.mark2-box .achieve{
    background: url("../../imgs/btn2.jpg") no-repeat ;
    width:224px;
    height:44px;
    margin:24px 143px 0px;
    background-position:-5px -106px;
}
.mark2-box .achieve p{
    color:#fff;
    text-align: center;
    line-height:44px;
}
.achieve a{
    color:#fff;
    text-align: center;
    line-height:44px;
    display: block;
}

.header{width:100%;height:80px;background: #2b71b1;min-width: 1100px}
.logo{height:80px;width:248px;}
.logo img{width:216px;margin:10px 0 0 24px; }
.top{height:42px;line-height: 42px;margin-left:4px;}
.top span{color:#e3ebf3;font-size: 12px}
.top a{color:#e3ebf3;font-size: 12px}
.nav-right .top .exit{margin-left: 58px;}
.nav-right{
    margin-left: 20px;
}

.nav ul li{
    float:left;
    height:38px;
    width:140px;
    background: #518bbf;
    margin-left:2px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    border-radius:5px 5px 0 0;
}
.nav ul li a{
    color:#fff;
    width:140px;
    height:38px;
    display: block;
    border-radius:5px 5px 0 0;
}
.nav ul .active{
    background: #fff;
    color:#414141;
}
.side-bar{
    z-index: 111;
    width:248px;
    /*height:100%;*/
    height:844px;
}

.side-bar>div{
    width:248px;
    height:100%;
    background: #f6fafe;
    border-right: 1px solid #ddd;
}

.side-bar .myImg>div{
    width:122px;
    height:122px;
    border:4px solid #fff;
    overflow: hidden;
    margin:46px auto 14px;
	-webkit-border-radius: 50%;/*webkit内核， Chrome*/
    -moz-border-radius: 50%;/*mozilla内核 Firefox*/
    border-radius: 50%;/*IE*/ 
    /*一定不要忘记behavior属性*/
    behavior: url(../../resources/qkl_tfcc/css/PIE/PIE.htc);
}
.side-bar .myImg{
	*margin-top:46px;
}
.side-bar .myImg p{
    text-align: center;
    font-size: 16px;
}
.side-bar .myImg>div{
	*margin-top:46px;
}
.qr-code>div{
    width:148px;
    height:148px;
    border:1px solid #ccc;
    margin: 60px auto 10px;
    
}
.qr-code p{
    text-align: center;
}
.errorTip{
    background-color: pink;
    color:red;
    font-size: 14px;
}
.error{
    color:red;
    font-size: 14px;
}
.error18{
    color:red;
    font-size: 18px;
}
.qr-code img{
    width:147px;
    height:146px;
    border:0;
    
    
}


/* 分页部分 */
/*分页*/
.table-list{
    margin: 22px 0px;
    height:370px;
}
.result-tab{
    border-collapse: collapse;
}
.result-tab tr{
    height:42px;
    border:1px solid #ddd;
}
.result-tab tr:nth-child(odd){
	 background:#f6fafe;
}
.result-tab tr th{
    font-size: 14px;
    color:#575757;
    border:none;
}

.pages1{
    margin-top:20px;
    height:32px;
}
 .pages1 ul {
   width: 1040px;
    margin: 0 auto;
}
 .pages1 ul li{
 	float:left;
    margin: 0px 5px;
    height: 32px;
    line-height: 32px;
    width: 57px;
    border: 1px solid #ddd;
    text-align: center;
    cussor:pointer;
}
 .pages1 ul li input{
    height:28px;
  	text-indent:8px;
    border:none;
    margin: 1px 6px;
}
 .pages1 ul li a{
    display: block;
    height:32px;
}
 .pages1 ul li select{
    height: 32px;
    border: none;
    text-indent: 12px;
    line-height: 32px;
}
.bg-color{
    background: cyan;
}



