.mark2{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background: rgba(5, 5, 5, 0.47);
	z-index: 9999;
	display: none;
}
.mark2 .mark2-box{
	position: absolute;
	top:50%;
	left:50%;
	width:500px;
	height:256px;
	margin-left:-250px;
	margin-top:-128px;
	background: #fff;
	box-shadow: 1px 1px 1px;
	border-radius: 5px;
}
.mark2-box .success-icon{
	background: url("../../images/btn2.jpg") no-repeat ;
	width:80px;
	height:80px;
	margin: 40px 210px 0px;
	background-position:-69px -14px;
}
.mark2-box p{
	text-align: center;
	color:#282828;
}
.mark2-box .achieve{
	background: url("../../images/btn2.jpg") no-repeat ;
	width:224px;
	height:44px;
	margin:24px 143px 0px;
	background-position:-5px -106px;
}
.mark2-box .achieve p{
	color:#fff;
	text-align: center;
	line-height:44px;
}

.header{width:100%;height:80px;background: #2b71b1;min-width: 1100px}
.logo{height:80px;width:248px;}
.logo img{width:216px;margin:10px 0 0 24px; }
.top{height:42px;line-height: 42px;margin-left:4px;}
.top span{color:#e3ebf3;font-size: 12px}
.top a{color:#e3ebf3;font-size: 12px}
.nav-right .top .exit{margin-left: 58px;}
.nav-right{
	margin-left: 20px;
}
.nav ul li{
	float:left;
	height:38px;
	width:140px;
	background: #518bbf;
	margin-left:2px;
	text-align: center;
	color:#e3ebf3;
	line-height: 38px;
	font-size: 14px;
	border-radius:5px 5px 0 0;
}
.nav ul .active{
	background: #fff;
	color:#414141;
}
.side-bar{
	width:248px;
	/*height:100%;*/
	height:844px;
}

.side-bar>div{
	width:248px;
	height:100%;
	background: #f6fafe;
	border-right: 1px solid #ddd;
}

.side-bar .myImg>div{
	width:122px;
	height:122px;
	border:4px solid #fff;
	border-radius:50%;
	overflow: hidden;
	margin:46px auto 14px;
}
.side-bar .myImg p{
	text-align: center;
}
.qr-code>div{
	width:148px;
	height:148px;
	border:1px solid red;
	margin: 60px auto 10px;
}
.qr-code p{
	text-align: center;
}

