.pages1 > ul li a{color:#2283c5;}
.btn-success {
    background-color: #87b87f!important;
    border-color: #87b87f;
    font-size: 12px;
    color: #FFF!important;
    border-color: #e0e8eb;
}