<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/resources/qkl_tfcc/imgs/logo.ico" type="image/x-icon">
     <link rel="icon" href="/resources/qkl_tfcc/imgs/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/general/general-account.css">
    <script src="/resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--遮罩层-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="mark3">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="dividend">
    <div class="dividend-box">
        <p>转账额度不再享受粉红是否确认继续转账？</p>
        <a href="#" onclick="tfcc_sub()" class="yes">是</a><a href="#" onclick="exit()">否</a>
    </div>
</div>

<!--普通会员账户中心-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../resources/qkl_tfcc/imgs/reglogos_02.png" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime"></span>
            <span class="dateTime"></span>
            <span class="weekTime"></span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span id="user"></span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="/service/user/logout">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li><a  href="../general_vip/general_stocks.html">我要购买</a></li>
                <li ><a href="../general_vip/general_team.html">我的团队</a></li>
                <li ><a class="active" href="../general_vip/general_account.html">我的账户</a></li>
                <li ><a href="../general_vip/general_myself.html">个人中心</a></li>
                <li><a href="../general_vip/general_safety.html">安全中心</a></li>
                <li><a href="http://www.sanjielian.com" target="new_window">数字钱包</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="">
                <div class="main-top">
                    <span>你当前的位置：</span><span class="c28">我的账户</span>
                </div>
                <div class="my-sum">
                    <h4>我的余额</h4>
                    <div class="zhuan-zhang">
                        <ul>
                            <li><div>可用&nbsp;SAN</div>&nbsp;&nbsp;<span id="avb_amnt"></span></li>
                            <li><div>冻结&nbsp;SAN</div>&nbsp;&nbsp;<span id="froze_amnt"></span></li>
                            <li><div>总&nbsp;SAN</div>&nbsp;&nbsp;<span id="total_amnt"></span></li>
                            <li class="zhuanzhang" >转账</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="my-award">
                    <h4>我的奖励</h4>
                    <div>
                        <ul>
                            <li><div class="c57">总累计奖励 SAN</div><div class="ce9" id="totalReward"></div></li>
                            <li><div class="c57">累计推荐会员购买奖励 SAN</div><div class="ce9" id="totalGMJL"></div></li>
                            <!-- <li><div class="c57">累计推荐网点奖励 SAN</div><div class="ce9" id="">30,000.00</div></li> -->
                        </ul>
                    </div>
                </div>
                <form id="form" method="post">
                  <div class="my-serach">
                       <h3>转账查询</h3>
                       <div class="ser-tit">
                            <div class="trans-status">
                                 <span>转账状态</span>
                                  <input id ="all" type="radio" name="status" value="">全部
                                  <input id ="success" type="radio" name="status" value="1"> 成功
                                  <input id ="failed" type="radio" name="status" value="0"> 失败
                                  <input id ="transfering" type="radio" name="status" value="2"> 转账中
                            </div>
                            <div class="d-accts">
                                <label>对方账户</label>
                                <input id ="recipient" name="recipient" type="text" class="d-acct" placeholder="请输入对方账户名称" maxlength="20">
                            </div>
                            <div class="trans-money">
                                  <label>转账额度</label>
                                  <input id="startOutamnt" name="startOutamnt" type="text" class="min-num" placeholder="请输入数字"> - <input id="endOutamnt" name="endOutamnt" type="text" class="max-num" placeholder="请输入数字">
                            </div>
                            <div class="trans-money">
                                  <label>日期</label>
                                  <input id="startOutamnt" name="startOutamnt" type="text" class="min-num" placeholder="请输入数字"> - <input id="endOutamnt" name="endOutamnt" type="text" class="max-num" placeholder="请输入数字">
                            </div>
                            <div class="trans-serach-btn" onclick="getOut()">查询</div>
                       </div>
                  </div>
               </form>                
              <!--   查询列表 -->              
                      <!--table pageing start-->
                               
                            <div class="table-list">
                                <table class="result-tab" style="width:100%;border:5px;cellspacing:0px;">
                                    <thead>
                                        
                                          <tr><th>序号</th><th>日期</th><th>转账额度 </th><th>对方账户名</th><th>转账状态</th><th>备注</th></tr>   
                                    </thead>
                                    <tbody id="showData">
                                        
                                    </tbody>
                                    <tfoot id="tfoot" style="width:100%;display: none"><tr><td colspan="5" style="text-align: center;background-color: #eee;">没有符合条件的数据</td></tr></tfoot>
                                </table>
                                <div class="pages1">
                                    
                                </div>
                                
                            </div>
                            
                            
                        <!--table paging end-->                     
            </div>            
            <div class="trans-account">
                <div class="main-top"><span>您当前的位置：</span><span>我的账户&gt;</span><span class="c28">转账</span></div>
                <div class="trans-wrap">
                    <p></p>
                    <div class="trans-type">
                        <p>币&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;种</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:red">SAN</span>
                        <!-- <select name="" id="pid" onchange="gradeChange()">
                            <option value="">SAN</option>
                        </select> -->
                    </div>
                    <div class="trans-tfcc">
                        <p>钱包账户</p>
                        <input type="text" name="zfb" id="zhanghao" placeholder="请输入对方账号"><span style="color:red">&nbsp;*</span>
                        <span class="errorc"></span>
                    </div>
                    <div class="trans-tfcc">
                        <p>转账额度</p>
                        <input type="text" name="money" id="zhuanzhang"  placeholder="请输入需转账额度"><span style="color:red">&nbsp;*</span>&nbsp;您的可用额度为&nbsp;&nbsp;<span id= "zid" style="color:red">&nbsp;</span>
                        <span class="errorc"></span>
                        <div><a  class="tfcc-btn" id="tijiao">提交</a> <a href="">返回</a></div>
                    </div>
                </div>
                <div class="trans-jfcc"></div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="" width="122"  alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="/resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="/resources/qkl_tfcc/js/date/dateCom.js"></script>
<script src="/resources/qkl_tfcc/js/invest/in-account.js"></script>
<script src="/resources/qkl_tfcc/js/general_vip/general_account.js"></script>
<script type="text/javascript">
  function getOut(){
      var url = "/service/comacc/findout?"+$("#form").serialize();
      $.post(url,function(data){
          if(list.length==0||list==null){
              $("#tfoot").show();
              $("#showData").hide();
              return;
          }
          for (var i = 0; i < list.length; i++) {
              rsStr = rsStr + "<tr class='ss'>";
              rsStr = rsStr + "<th>" + tviplist[i].rela_level + "</th>";
              rsStr = rsStr + "<th>" + tviplist[i].phone + "</th>";
              rsStr = rsStr + "<th>" + tviplist[i].real_name + "</th>";
              rsStr = rsStr + "<th>" + tviplist[i].buyNum + "</th>";
              rsStr = rsStr + "<th>" + tviplist[i].rg_time + "</th>";
              rsStr = rsStr + "</tr>";
          }
          $("#showData").html( rsStr);
          $("#showData").show();
          $("#tfoot").hide();
          $(".pages1").html(data.data.page.pageStr);
      });
  }
</script>
</body>
</html>