<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="icon" href="/resources/qkl_tfcc/imgs/logo.ico" type="image/x-icon">

    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/general/general-team.css">
    <script src="/resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
   
    <!--<script src="/resources/qkl_tfcc/js/date/dateRange.js"></script>-->
    <!--<script src="/resources/qkl_tfcc/js/date/monthPicker.js"></script>-->
    <style type="text/css">
       table td{border:solid 1px #ccc;} 
    </style>
</head>
<body >
<!--mark start-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<!--mark end-->


<!--header common start-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../resources/qkl_tfcc/imgs/reglogos_02.png" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime"></span>
            <span class="dateTime"></span>
            <span class="weekTime"></span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span id="user"></span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="/service/user/logout">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
             <li><a  href="../general_vip/general_stocks.html">我要购买</a></li>
               <li ><a class="active" href="../general_vip/general_team.html">我的团队</a></li>
                <li ><a  href="../general_vip/general_account.html">我的账户</a></li>
                <li ><a  href="../general_vip/general_myself.html">个人中心</a></li>
                <li><a  href="../general_vip/general_safety.html">安全中心</a></li>
                <li><a href="http://www.sanjielian.com" target="new_window">数字钱包</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header common end-->

<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="posit" >
                <div class="main-top"style="position: relative;overflow: hidden">
                
                
                    <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队&gt;</span><span class="c28">我推荐的会员</span>
                    </div>
                   <!-- <div class="top-tab">
                        <div class="fl ">你当前的位置：</div><span>我的团队</span><span class="c28">我推荐的网点</span>
                    </div>  -->
                </div>
                <div class="main-middle fix">
                    <div class="fix">
                        <ul class="fl member">
                            <li>推荐会员&nbsp;<span class="member1"></span></li>
                            <li>A级会员&nbsp;<span class="member2"></span></li>
                            <li>B级会员&nbsp;<span class="member3"></span></li>
                            <li>C级会员&nbsp;<span class="member4"></span></li>
<!--                             <li>推荐网点<span class="member5">&nbsp;5</span></li> -->
                        </ul >
                    </div>
                    <ul class="huiyuan">
                        <li class="member-tab act">我推荐的会员</li>
                     <!--   <li class="branch-tab">我推荐的网点</li> -->
                    </ul>
                </div>
            </div>
             <div class="foot-btm" style="position: relative">
                    <div class="btm">
                            <div class="fix btm-type">
                                <ul class="fl ">
                                    <li>推荐类型</li>
                                    <li>
                                        <input id ="quan" type="checkbox" name="ckall">全部
                                        <input id ="lva" type="checkbox" name="checkbox"> A级会员
                                        <input id ="lvb" type="checkbox" name="checkbox"> B级会员
                                        <input id ="lvc" type="checkbox" name="checkbox">C级会员
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="type-btn"><a href="#" >查询</a></li>
                                </ul>
                            </div>

                            <!--table pageing start-->
                               
                            <div class="table-list">
                                <table class="result-tab" style="width:100%;border:5px;cellspacing:0px;">
                                    <thead>
                                         <tr><th>会员级别</th><th>会员账号</th><th>会员姓名 </th><th>购买数量</th><th>注册时间</th></tr>   
  
                                    </thead>
                                    <tbody id="showData">
                                        
                                    </tbody>
                                    <tfoot id="tfoot" style="width:100%;display: none"><tr><td colspan="6" style="text-align: center;background-color: #eee;">没有符合条件的数据</td></tr></tfoot>
                                </table>
                                <div class="pages1">
                                    
                                </div>
                                
                            </div>
                            
                            
                        <!--table paging end-->
                   </div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="" width="122"  alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="/resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="/resources/qkl_tfcc/js/date/dateCom.js"></script>
<script src="/resources/qkl_tfcc/js/general_vip/general-team.js"></script>
 <script src="/resources/qkl_tfcc/js/common/inputst.js"></script>
</body>
</html>