<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel="stylesheet" href="/resources/qkl_tfcc/css/date/dateRange.css"> -->
    <!--<link rel="stylesheet" href="/resources/qkl_tfcc/css/date/monthPicker.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/pagintaion/pagination.css">-->
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="/resources/qkl_tfcc/css/general/general-account.css">
    <script src="/resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
    <script src="/resources/qkl_tfcc/js/date/dateRange.js"></script>
    <script src="/resources/qkl_tfcc/js/date/monthPicker.js"></script>
    <script src="/resources/qkl_tfcc/js/pagin/pagination.js"></script>
</head>
<body>
<!--遮罩层-->
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="mark3">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>SAN转账成功</p>
        <div class="achieve"><a href="">完成</a></div>
    </div>
</div>
<div class="dividend">
    <div class="dividend-box">
        <p>转账额度不再享受粉红是否确认继续转账？</p>
        <a href="#" onclick="tfcc_sub()" class="yes">是</a><a href="#" onclick="exit()">否</a>
    </div>
</div>

<!--普通会员账户中心-->
<div class="header fix">
    <div class="logo fl">
        <img src="../../resources/qkl_tfcc/imgs/reglogo_02.png" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime"></span>
            <span class="dateTime"></span>
            <span class="weekTime"></span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span id="user"></span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="/service/user/logout">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li><a  href="../general_vip/general_stocks.html">我要购买</a></li>
                <li ><a href="../general_vip/general_team.html">我的团队</a></li>
                <li ><a class="active" href="../general_vip/general_account.html">我的账户</a></li>
                <li ><a href="../general_vip/general_myself.html">个人中心</a></li>
                <li><a href="../general_vip/general_safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com" target="new_window">数字钱包</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="">
                <div class="main-top">
                    <span>你当前的位置：</span><span class="c28">我的账户</span>
                </div>
                <div class="my-sum">
                    <h4>我的余额</h4>
                    <div>
                        <ul>
                            <li><div>SAN</div>&nbsp;&nbsp;<span id="spt"></span></li>
                          <!--   <li><div>JFCC</div>&nbsp;&nbsp;<span>100,000.00</span></li> -->
                            <li class="zhuanzhang" >转账</li>
                        </ul>
                    </div>
                </div>
                <div class="my-award">
                    <h4>我的奖励</h4>
                    <div>
                        <ul>
                            <li><div class="c57">总累计奖励 SAN</div><div class="ce9" id="sptt"></div></li>
                            <li><div class="c57">累计推荐会员奖励 SAN</div><div class="ce9" id="spv"></div></li>
                            <!-- <li><div class="c57">累计推荐网点奖励 SAN</div><div class="ce9" id="">30,000.00</div></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="trans-account">
                <div class="main-top"><span>您当前的位置：</span><span>我的账户&gt;</span><span class="c28">转账</span></div>
                <div class="trans-wrap">
                    <p></p>
                    <div class="trans-type">
                        <p>选择币种</p>
                        <select name="" id="pid" onchange="gradeChange()">
                            <option value="">SAN</option>
                        </select>
                    </div>
                    <div class="trans-tfcc">
                        <p>对方账户</p>
                        <input type="text" name="zfb" placeholder="请输入对方账号"><span style="color:red">&nbsp;*</span>
                        <span class="errorc"></span>
                    </div>
                    <div class="trans-tfcc">
                        <p>转账额度</p>
                        <input type="text" name="money" placeholder="请输入需转账额度"><span style="color:red">&nbsp;*</span>
                        <span class="errorc"></span>
                        <div><a href="#" class="tfcc-btn" onclick="save()">提交</a> <a href="">返回</a></div>
                    </div>
                </div>
                <div class="trans-jfcc"></div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="" width="122"  alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="/resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/resources/qkl_tfcc/js/common/dateCom.js"></script> -->
<script src="/resources/qkl_tfcc/js/date/dateCom.js"></script>
<script src="/resources/qkl_tfcc/js/invest/in-account.js"></script>
<script src="/resources/qkl_tfcc/js/general_vip/general_account.js"></script>
</body>
</html>