<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/reset.css">
        <link rel="stylesheet" href="/resources/qkl_tfcc/css/common/common.css">
        <link rel="stylesheet" href="/resources/qkl_tfcc/css/general/general-self.css">
        <link rel="stylesheet" href="/resources/qkl_tfcc/css/date/dateRange.css">
        <link rel="stylesheet" href="/resources/qkl_tfcc/css/date/monthPicker.css">
        <script src="/resources/qkl_tfcc/js/date/dateRange.js"></script>
        <script src="/resources/qkl_tfcc/js/date/monthPicker.js"></script>
        <script src="/resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
        <style type="text/css">
            .hide{display: none;}
        </style>
    </head>
<body>
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>个人信息修改成功</p>
        <div class="achieve"><p>完成</p></div>
    </div>
</div>
<div class="header fix">
    <div class="logo fl">
        <img src="/resources/qkl_tfcc/imgs/reglogo_02.jpg" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime">2016年8月24日</span>
            <span class="dateTime">09:18:06 </span>
            <span class="weekTime"> 星期三 </span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span>1234334234</span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a href="general-team.html">我的团队</a></li>
                <li><a href="general-account.html">我的账户</a></li>
                <li ><a class="active" href="general-center.html'">个人中心</a></li>
                <li><a href="general-safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com">R8交易所</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl" >
        <div class="mains">
            <div class="main-top">你当前的位置：<span>个人中心</span></div>
                
                <div class="main-photo">
                  <div class="pic fl">
                      <p>个人头像</p>
                      <img id="headPicId" src="/resources/qkl_tfcc/imgs/headPic_default.png" width="110px" height="110px">
                  </div>
                  <div class="upload fl">
                    <p>上传头像</p>
                      <form id="imgForm"  method="post">
  <!--                       <input type="file" value="选择文件"> -->
                        <label class="text_center;" style="color: red">原图上传：(请上传110*110规格的图片)</label><br>
                        <input type="file" id="tp" name="tp" onchange="uploadimg(this)"><br><br>
                        <a href="javascript:delPic()">删除</a>
                      </form>
                  </div>
                </div>
                <form id="form"  class="form" method="post">
                <div><label >姓名</label><input type="text" id="realName" name="realName" placeholder="请输入真实姓名，3-5个字" ><span class="hint">你还未实名认证，为保障你的交顺利进行，请及时前往安全中心进行认证</span></div>
                <div><label >身份证号码</label><input type="text" id="idno" name="idno" placeholder="请输入身份证号" ></div>
                <div><label >手机号</label><input type="text" id="phone" name="phone" placeholder="请输入手机号" ><span class="hint"> 前往 ”安全中心“ 进行修改。</span></div>
                <div><label >微信号</label><input type="text" id="wxnum" name="wxnum" placeholder="请输入微信号" ></div>
                <div><label >支付宝账号</label><input type="text" id="bankaccno" name="bankaccno" placeholder="请输入支付宝账号" ></div>
                <div><label >通讯地址</label><input type="text" id="mailAddrss" name="mailAddrss" placeholder="请输入通讯地址" ></div>
                <div><label >邮编</label><input type="text" id="zipCode" name="zipCode" placeholder="请输入邮编" ></div>
                <div><a href="javascript:save()"></a></div>
                <!--头像地址 -->
                <input type="hidden" id="imgAddrss" name="imgAddrss" >
                <input type="hidden" id="userCode" name="userCode" >
            </form>
            <iframe class="hide" name="aaa" ></iframe>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="/resources/qkl_tfcc/imgs/headPic_default.png" alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="/resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="/resources/qkl_tfcc/js/date/dateCom.js"></script>
</body>
</html>
<script type="text/javascript" >
   $(function(){
	　　toGeneralVipCenter();
	}); 
  function uploadimg(obj){
      var filepath =$("input[type='file'][name='tp']").val();
      if(filepath==""){
          alert("请选择文件！");
          return;
      }
      var userCode = $("#userCode").val();
      $('#imgForm').attr("target","aaa");
      $('#imgForm').attr("enctype","multipart/form-data");
      var form  = document.getElementById("imgForm");
      form.action = "/service/user/upload?filepath="+filepath+"&userCode="+userCode;
      form.submit();
     
  }
  function delPic(){
	  var imgAddrss = $("#imgAddrss").val();
	  var userCode = $("#userCode").val();
	  var url = "/service/user/delPic";
	  $.post(url,{"imgAddrss":imgAddrss,"userCode":userCode},function(data){
		  if(data.success){
			  $("#headPicId").attr("src","/resources/qkl_tfcc/imgs/headPic_default.png");//删除后设置为默认图片
			  $("#left_headPicId").attr("src","/resources/qkl_tfcc/imgs/headPic_default.png");//删除后设置为默认图片
			  $("#imgAddrss").val("");
		  }
		  if(!data.success){
			  alert(data.message);
		  }
		  
	  });
  }
  
  function toGeneralVipCenter(){
	  var url = "/service/user/toGeneralVipCenter";
	  $.getJSON(url,function(data){
		  if(data.success){
			  $("#realName").val(data.data.realName);
			  $("#idno").val(data.data.idno);
			  $("#phone").val(data.data.phone);
			  $("#wxnum").val(data.data.wxnum);
			  $("#bankaccno").val(data.data.bankaccno);
			  $("#mailAddrss").val(data.data.mailAddrss);
			  $("#zipCode").val(data.data.zipCode);
			  if(data.data.imgAddrss){
				  $("#imgAddrss").val(data.data.imgAddrss);
				  $("#headPicId").attr("src",data.data.imgAddrss);
	              $("#left_headPicId").attr("src",data.data.imgAddrss);
			  }
			  $("#userCode").val(data.data.userCode);
		  }
		  
	  })
  }
  
  function save(){
	  var url = "/service/user/modifyuser";
	  $.post(url,$("#form").serialize(),function(data){
		  alert(data.message);
	  });
  }
</script>