<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的股权</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/common/reset.css">
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/common/common.css">
    <link rel="stylesheet" href="../../resources/qkl_tfcc/css/general/equity.css">
    <script src="../../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="mark2">
    <div class="mark2-box">
        <div class="success-icon"></div>
        <p>订单完成提交成功！请及时完成付款</p>
        <div class="achieve"><a href="">我知道了</a></div>
    </div>
</div>
<div class="header fix">
    <div class="logo fl">
        <img src="/resources/qkl_tfcc/imgs/reglogos_02.png" alt="">
    </div>
    <div class="nav-right fl">
        <div class="top">
            <span class="yearTime"></span>
            <span class="dateTime"></span>
            <span class="weekTime"></span>
            <span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;尊敬的 <span id="user"></span> ，您好！&nbsp;欢迎使用本系统</span>
            <span class="exit"><a href="/service/user/logout">【退出】</a></span>
        </div>
        <div class="nav fix">
            <ul class="fl">
                <li ><a class="active" href="../general_vip/general_stocks.html">我要购买</a></li>
                <li ><a href="../general_vip/general_team.html">我的团队</a></li>
                <li><a href="../general_vip/general_account.html">我的账户</a></li>
                <li ><a href="../general_vip/general_myhelf.html">个人中心</a></li>
                <li><a href="../general_vip/general_safety.html">安全中心</a></li>
                <li><a href="http://www.r8exchange.com" target="new_window">数字钱包</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="main fl">
        <div class="mains">
            <div class="main-top"><span>您当前的位置：</span><span class="c28">我要购买</span></div>
            <div class="main-mid fix">
                <div class="mid-l">
                      <h3>收款账户信息</h3>      

                                             收款人姓名：<p id="revorgname"></p>
                                         支付宝账号：   <p id="revbankaccno"></p>
                                        <!--       开户行：  <p id="revbankdepname"></p>
                                 账务对账电话：   <p id="checkphone"></p> -->

                                          <!--   收款姓名：<p id="revorgname"></p>
                                          支付宝账号：   <p id="revbankaccno"></p> -->
                                              <!--开户行：  <p id="revbankdepname"></p>
                                 账务对账电话：   <p id="checkphone"></p>-->

                </div>
                <div class="mid-r">
                    <form action="" autocomplete="off" >
                        <div>
                            <label>购买数量</label><input name="txnum" type="text" onkeyup='this.value=this.value.replace(/\D/gi,"")' placeholder="请输入购买数量">
                        </div>
                        <div>
                            <label >需支付金额（元）</label><input  name="txamnt" type="text" autocomplete="off" readonly="readonly" placeholder="￥0.00">
                        </div>
                        <div><label >我的支付宝</label><input  name="txamnt" type="text"  placeholder="支付宝账号"></div>
                        <div>
                          <a href="https://auth.alipay.com/login/index.htm" id="buy">确认购买</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-btm">
                <div class="search">
                    <h3>订单查询</h3>
                    <div class="sel">
                        <span>付款状态</span>
                        <select name="searchSel" id="searchSel">
                            <option value="5" selected="selected">请选择</option>
                            <option value="1">已完成</option>
                            <option value="9">已取消</option>
                            <option value="0">待付款</option>
                        </select>
                        <a   href="#" >查询</a>
                    </div>
                </div>

                <div class="table-list">
                    <table class="result-tab" width="100%"  cellpadding="0" cellspacing="0">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="pages1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar fl">
        <div class="fl">
            <div class="myImg">
                <div>
                    <img id="left_headPicId" src="" width="122"  alt="">
                </div>
                <p>普通会员</p>
            </div>

            <div class="qr-code">
                <div>
                    <img src="../../resources/qkl_tfcc/imgs/ma.jpg" alt="">
                </div>
                <p>我的二维码</p>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/qkl_tfcc/js/date/dateCom.js"></script>
<!-- <script src="../../resources/qkl_tfcc/js/common/dateCom.js"></script> -->
<script src="../../resources/qkl_tfcc/js/general_vip/mystock.js"></script>
</body>
</html>