*{
  font-size:12px;
}
body {
   font-family:verdana,helvetica,arial,sans-serif;
   padding:20px;
   font-size:12px;
   margin:0;
}
a {
  color: #122e67;
  text-decoration: none;
}
a:hover {
  color: #ff8400;
  text-decoration: underline;
}
.l {
  float: left;
}
.r {
  float: right;
}
.orange {
  color: #ff8400;
}
.gray {
  color: #888888;
}
.mr10 {
  margin-right: 10px;
}
.m-search {
  display: block;
  padding: 0 10px 10px;
  line-height: 20px;
  border-radius: 6px;
  background-color: #eff5ff;
}
.m-search .here {
  color: #ff8400;
  font-weight: bold;
}
.m-from {
  display: block;
  overflow: hidden;
  clear: both;
  width: 98%;
  margin: 20px auto;
}
.m-from label {
  width: 140px;
  line-height: 20px;
  text-align: right;
  color: #333;
  font-family: "宋体", tahoma, arial, sans-serif;
}
.m-from samp {
  margin-right: 6px;
  color: #ff8400;
}
.m-from .radio {
  vertical-align: text-bottom;
}
.m-from .val {
  line-height: 20px;
}
.row {
  width: 100%;
  margin-top: 10px;
  clear: both;
  overflow: hidden;
}
.fieldset {
  float: left;
  padding-right: 10px;
}
.fieldset .val,
.fieldset label {
  float: left;
}
.fieldset lable {
  color: #666666;
}
.m-table {
  margin-top: 10px;
}
.m-list-text {
  line-height: 20px;
}
.m-list-text li {
  margin-top: 6px;
}
#page_header {
  
}
#page_header a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#page_header a:hover {
  color: #ff8400;
  text-decoration: underline;
}
#page_header .top {
  background-color: #009dd9;
  border-bottom: 1px solid #95b8e7;
  overflow: hidden;
}
#page_header .top span {
  width: 165px;
  display: inline-block;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
  padding-left: 50px;
}
#page_header .top .exit {
  padding: 0px 6px 0 0;
  color:#fff;
}
#page_header .top a {
  margin: 0 6px;
  cursor: pointer;
}
.window{
  background-color: #a3d3fc;
  background: -webkit-linear-gradient(top,#5fa5e2 0,#a3d3fc 100%);
  background: -moz-linear-gradient(top,#5fa5e2 0,#a3d3fc 100%);
  background: -o-linear-gradient(top,#5fa5e2 0,#a3d3fc 100%);
  background: linear-gradient(to bottom,#5fa5e2 0,#a3d3fc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a3d3fc,endColorstr=#5fa5e2,GradientType=0);
}