<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<style type="text/css">
			.for_password{
				width: 100%;
				min-height: 2rem;
				float: left;
				margin-top: 1rem;
				
			}
			#pho_code_pass{
					width: 2.8rem;
					height: 0.7rem;
					float: left;
					background: none;
					background: #FFFFFF;
					padding-left:0.1rem ;
				}
		</style>
	</head>
	<body>
		<div class="ind_header">
			<img src="img/sanjiebao_logo_fanbai.png"/>
		</div>
		<div class="for_password">
			<div class="reg_li_wrap">
				<li class="reg_li_left"> 原密码 </li>
				<input type="password" class="pho_input" id="oldpassword" placeholder="请输入原密码" />
				<p class="page1_bot" id="phonnumber_pass_p"> </p>
			</div>
			
			 
			<div class="reg_li_wrap">
				<li class="reg_li_left">新密码</li>
				<input type="password" id="Newpassword" class="pho_input" value="" placeholder="请输入新密码" />
				<p class="page1_bot" id="userPassWord1"> </p>
			</div>
			
		
			<div class="reg_li_wrap">
				<li class="reg_li_left">重设新密码</li>
				<input type="password" class="pho_input" id="reNewpassword" placeholder="请输入重设新密码" />
				<p class="page1_bot" id="PassWord2"> </p>
			</div>
			<div class="login_wrap">
				<input type="button" class="login_login" name="" id="queren" value="确认" />
				<input type="button" class="login_login" name="" id="cancel_pass" value="取消" />
			</div>
		
		
		
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/phoneweb1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				var usercode = sessionStorage.getItem("usercode");
				var buyNub,paymentAmount,myAlipaynub;
				var webURL="";
				
				
				$("#phone_pass").blur(function(){
					
					if(!validate.phone($('#phone_pass').val())){
					$("#phonnumber_pass_p").html("请输入正确的手机号");
					}else{
						$("#phonnumber_pass_p").html("");
					}
				})
				
				
				$("#buyNumber").blur(function(){
					buyNub= $("#buyNumber").val();
					if(buyNub==""){
						buyNub=0;
					}
					console.log(buyNub);
					purchase();
					
				})
				//判断两次密码是否一致
				$('#reNewpassword').blur( function(){
					if( !($('#reNewpassword').val() === $('#Newpassword').val()) ){
						$('#PassWord2').html('两次密码不一致');
					}else{
						$('#PassWord2').html('');
					}
				} );

				
                //修改密码  
				$('#queren').click( function(){
					$.ajax({
						type:"post",
						url:webURL+"/service/user/modifypwd",
						data:{
							'userCode':usercode,
						    'oldpassword':$('#oldpassword').val(),
						    'newpassword':$('#Newpassword').val(),
						    'resnewpassword':$('#reNewpassword').val(),
						    'mobileflag':1
						     },
						success:function( msg ){
							console.log( msg );
 							if( msg.success ==true ){
 								alert(msg.message)
   								window.location.href="login.html";
 						 }else{
 						 	alert(msg.message)
 						 }
						}
					});
					
				} );
				   
			})
		</script>
	</body>
</html>
