<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>实名认证</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>个人中心</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/myheart.css" />
		<script src="js/rem.js"></script>
	</head>
	<body>
		<div class="autonym-top">
			<div class="jiantou">
				<a href="myheart.html"></a>
			</div>
			<h2>实名认证</h2>
		</div>
		<div class="autonym-middle">
			<div class="a-m-name">
				<span>姓名</span>
				<input type="text" class="r-name" placeholder="请输入你的真实姓名">
			</div>
			<div class="a-m-p">
				<span>身份证号</span>
				<input type="text" class="r-idcard" placeholder="请输入你的身份证号">
			</div>
		</div>
		<p class="law-info">根据国家相关规定，个人资产转账、提现、充值等操作时，需要提供真实的身份信息，感谢您的配合！实名认证获取发财网第一桶金！</p>
		
		<p class="ss"></p>
		<div class="real-name real-name2">
			<button >实名认证</button>
		</div>
		<div class="footer">
			
		</div>
		<!-- 弹窗 -->
		<div class="mark">
			<div class="mark-box">
				<div class="mark-bg"></div>
				<p>实名认证</p>
				<div class="succ">完成</div>
			</div>
		</div>
		
		<script src="js/rem.js"></script>
	    <script src="js/jquery-2.2.1.min.js"></script>
		 <script src="js/common.js"></script>
		 <script src="js/myheart.js"></script>
		<script>
			$('.mark .succ').click(function(){
				$('.mark').hide();
			})
		</script>		
	</body>
</html>
