<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改手机号</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>个人中心</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/myheart.css" />
		<script src="js/rem.js"></script>

		<style>
			.erweima{
				margin: 0 auto;
				width:100%;
			}
			.erweima img{
				margin-top:1.2rem;
				width:70%;
				margin-left:15%;
			}
        .erweima div{
        	font-size: .32rem;
        	margin-top:.6rem;
        	text-align: center;
        }
		</style>
	</head>
	<body>	
       <div class="autonym-top" >
			<div class="jiantou">
				<a href="myheart.html"></a>
			</div>
			<h2>官方二维码</h2>
		</div>
		<div class="erweima">
			<img src="img/erweima.png" alt="">
			<div>扫描官网二维码</div>
		</div>
		</script>		
	</body>
</html>
