<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> 收款账号 </title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body class="body">
	<div class="ind_header">
			<!--<div class="logo_img">
				<img src="img/sanjielian_LOGO.png"/>
			</div>
			<div class="logo_word">
				SAN发行系统
			</div>-->
			<img src="img/sanjiebao_logo_fanbai.png"/>
		</div>
		
		
		<div class="ind_banner">
			<h4>收款账号信息</h4>
			<div class="ind_banner_p">
				<div class="ind_banner_p_left">
					收款人姓名
				</div>
				<div class="ind_banner_p_right" id="gatherUser">
				</div>
			</div>
			<div class="ind_banner_p">
				<div class="ind_banner_p_left">
					支付宝账号
				</div>
				<div class="ind_banner_p_right" id="taoboaNub">
				</div>
			</div>
			<!--<div class="ind_banner_p">
				<div class="ind_banner_p_left">
					开户行
				</div>
				<div class="ind_banner_p_right">
					中国工商银行北京市西城阿萨德按时
				</div>
			</div>
			<div class="ind_banner_p">
				<div class="ind_banner_p_left">
					电话
				</div>
				<div class="ind_banner_p_right">
					010-5279018
				</div>
			</div>-->
		</div>
		<div class="ind_order">
			<h4>订单查询</h4>
			<div class="ind_order_p">
				<select name="" id="orderStatus">
					<option value="">--</option>
					<option value="0">待付款</option>
					<option value="1">已完成</option>
					<option value="9">已取消</option>
					
				</select>
				<input type="button" class="color_white" name="" id="orderQuery" value="查询" />
			</div>
			<table class="table_order" border="0" cellspacing="" cellpadding="">
				<tr class="th_class"><th>购买时间</th><th>购买量（股）</th><th>金额</th><th>付款状态</th></tr>
				
			</table>
			<div class="banner_bottom banner_bottom1">
				    <ul class="pagination" id="paginationNews"></ul>
			</div>
		</div>
		
		
		
		
		<div class="footer_wrap">
			<a href="index.html">
				<img src="img/woyaogoumai_lan.png"/>
				<div class="color_a">我要购买</div>
			</a>
			<a  href="myteam.html">
				<img src="img/wodetuandui_hui.png"/>
				<div>我的团队</div>
			</a>
			<a href="purse.html">
				<img src="img/gerenzhongxin_hui.png"/>
				<div>个人中心</div>
			</a>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
