<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title> 登录页 </title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>		
	</head>
	<body>
		<div class="login_box_wrap">
		
			<div class="login_header">
				<!--<img src="img/TFCCLOGO.png"/>
				<h1 class="h1"> SAN发行系统 </h1>-->
				<img src="img/sanjiebao_logo_lanse.png"/>
			</div>
			<div class="login_banner">
				<div class="login_banner_li">
					<div class="login_banner_li_a">
						 <img src="img/shoujihao.png"/>
						<input type="text" class="login_pho_input" id="loginPhoneNumber" value="" placeholder="输入手机号" />
						<p class="page1_bott_p" id="userphoneNub"></p>
					</div>
					<div class="login_banner_li_a">
						<img src="img/mima.png"/>
						<input type="password" class="login_pho_input" id="userpassWord"  value="" placeholder="输入登录密码" />
						<p class="page1_bott_p" id="userPassWord2"></p>
					</div>
					
				</div>
				
				<div class="login_wrap">
					<input type="button" class="login_login" name="" id="loginCilck" value="登录" />
				</div>
			</div>
			
			
			<a class="login_register" href="registmen.html">还没账号？立即注册</a>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/phoneweb.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
