<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title> 我的帐户 </title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/account.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/different.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		
	</head>
	
	
	<body style="background: #f5f5f5;">
		
		<!--头部-->
		<div class="transferHead"> 
			 <div class="transferWen">
			 	转账
			 </div>
		</div>
		
		<!--我的帐户内容区-->
		<div class="nowAccount">
			<span> 当前登录账号 : </span> <em id="telePhone"> 18130075740 </em>
		</div>
		
		<!--我的余额-->
		<div class="mybalance">
			<font> 我的余额 </font> <a href="transferAccounts.html"> 转账 </a>
		</div>	
		<ul class="transferContent my" style="margin-top: 0;">
			
			<li>
				<span> 总SAN : </span> <em id="total1"> 0.000 </em>
			</li>
			
			 <li>
				<span> 可用SAN : </span> <em id="available"> 0.000 </em>
			</li>
			
			<li>
				<span> 冻结SAN : </span> <em id="frozen" style="color: #000000;"> 0.000 </em>
			</li> 
			
		</ul>
		
		<!--我的奖励-->
		<div class="myReward" >我的奖励</div>
		<ul class="transferContent reward" style="margin-top: 0;">
			
			<li>
				<span> 总累计奖励SAN </span> <em id="totalReward1" style="color: #000000;"> 0.000 </em>
			</li>
			
			 <li>
				<span> 累计推荐会员购买奖励 </span> <em id="totalGMJL1" style="color: #000000;"> 0.000 </em>
			</li>

		</ul>

		<div class="footer">
			<ul class="base">					
					<a href="mybuy.html"> 
						<img src="img/buy.png"/>  
						<span > 我要购买 </span>
					</a>
					<a id="haveAccount" href="Myaccount.html"> 
						<img src="img/account1.png"/>  
						<span class="hue"> 我的帐户</span>
					</a>
					<a href="myteam.html"> 
						<img src="img/team.png"/>  
						<span> 我的团队 </span>
					</a>
					<a href="myheart.html"> 
						<img src="img/person.png"/> 
						<span> 个人中心 </span>
					</a> 
				     
				</ul>	
		</div>
			
        <script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/account.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
