<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>会员信息</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="memb_header">
			我要购买
			<div class="header_dian_wrap orclick">
				<img class="header_dian" src="img/dian.png"/>
				<ul class="buy_header_order menu">
					<li><a href="myorder.html">订单查询</a></li>
					<li>取消</li>
				</ul>
			</div>
			
		</div>
		<div class="basic_info">
			收款账户信息
		</div>
		<div class="basic_info_div  buy_info_div">
			<ul class="info_li">
				<li class="info_li_left">收款人姓名:</li>
				<li class="info_li_right clolor_blue" id="gatherUser"></li>
			</ul>
			<ul class="info_li">
				<li class="info_li_left">收款账号:</li>
				<li class="info_li_right clolor_blue" id="taoboaNub"></li>
			</ul>
			<ul class="info_li">
				<li class="info_li_left">所属银行:</li>
				<li class="info_li_right clolor_blue" id="taoboaNub1"></li>
			</ul>
		</div>
		<div class="basic_info nowuser_wrap" >
			我要购买
			<ul class="nowuser">
				<li>当前账号</li>
				<li class="clolor_blue uesr_phone"></li>
			</ul>
		</div>
		<div class="basic_info_div" style="padding: 0;">
			
			<ul class="info_li info_pad">
				<li class="info_li_left ">购买数量</li>
				<input type="text" class="info_li_right" id="buyNumber" placeholder="请输入购买数量"></input>
			</ul>
			<ul class="info_li info_pad">
				<li class="info_li_left">需支付金额</li>
				<input type="text" class="info_li_right" placeholder="0.00"  readonly="readonly" id="paymentAmount"></input>
			</ul>
			<ul class="info_li info_pad">
				<li class="info_li_left">我的支付宝</li>
				<input type="text" class="info_li_right" id="myAlipay" placeholder="请输入支付宝账号"></input>
			</ul>
		</div>
		<div class="page_bottom">
			<p class="page_bottom_ma" id="ConfirmBuy">确认购买</p>
		</div>

		<div class="footer">
			<ul class="base">					
					<a href="mybuy.html"> 
						<img src="img/buy1.png"/>  
						<span class="hue"> 我要购买 </span>
					</a>
					<a href="Myaccount.html"> 
						<img src="img/account.png"/>  
						<span> 我的帐户</span>
					</a>
					<a href="myteam.html"> 
						<img src="img/team.png"/>  
						<span> 我的团队 </span>
					</a>
					<a href="myheart.html"> 
						<img src="img/person.png"/> 
						<span> 个人中心 </span>
					</a> 
				     
				</ul>	
		</div>
	</body>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mybuy.js" type="text/javascript" charset="utf-8"></script>
</html>
