<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>个人中心</title>
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/myheart.css" />
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<div class="heart-head exit-set">
		<h2>个人中心</h2>
		<div class="exit-box">
			<ul>
				<li class="exit-btn">退&nbsp;出</li>
				<li class="cancel-btn">取&nbsp;消</li>
			</ul>
		</div>
	</div>		
	<div class="wrap fix">
		<div class="gen-l fix">
			<h3>普通会员</h3>	
			<div class="wrap-info">
				<span class="name-info" id="name-info"></span>
				<span class="mun-info"></span>
			</div>
			<div class="fr"><a class="jiantou-l" href="vip.html"></a></div>
		</div>			
		<div class="asset fix">
			<ul>
				<li class="a-one">
					<div ></div>
					<span>总SAN</span>
				</li>
				<li class="a-two">
					<div></div>
					<span>可用SAN</span>
				</li>
				<li class="a-three">
					<div></div>
					<span>冻结SAN</span>
				</li>
			</ul>
		</div>
	</div>
			
	<div class="setting fix">
			<a href="autonym.html" class="set-dd">
				<div class="fl">实名认证</div>
				<div class="fr"><span class="undiend">未认证</span><div class="jiantou-l" ></div></div>
			</a>				
		
			<a href="rephone.html">
				<div class="fl">修改手机号 <!-- <span>180000000</span> --></div>
				<div class="fr"><div class="jiantou-l" ></div></div>
			</a>
				
			<a href="UpdatePassword.html">
				<div class="fl">修改登录密码</div>
				<div class="fr"><div class="jiantou-l"></div></div>
			</a>
				
			<a href="erwei.html">
				<div class="fl">我的二维码</div>
				<div class="fr"><div class="jiantou-l" ></div></div>
			</a>
				
			<a href="http://www.sanjielian.com">
				<div class="fl">数字钱包</div>
				<div class="fr"><div class="jiantou-l" ></div></div>
			</a>
	</div>
	
	
		<div class="footer">
			<ul class="base">					
					<a href="mybuy.html"> 
						<img src="img/buy.png"/>  
						<span> 我要购买 </span>
					</a>
					<a href="Myaccount.html"> 
						<img src="img/account.png"/>  
						<span> 我的帐户</span>
					</a>
					<a href="myteam.html"> 
						<img src="img/team.png"/>  
						<span> 我的团队 </span>
					</a>
					<a href="myheart.html"> 
						<img src="img/person1.png"/> 
						<span  class="hue"> 个人中心 </span>
					</a> 			     
				</ul>	
		</div>
		<script src="js/rem.js"></script>
	    <script src="js/jquery-2.2.1.min.js"></script>
		 <script src="js/common.js"></script>
		 <script src="js/myheart.js"></script>
	<script>
		$(function(){
			$('.exit-box').click(function(){
				$('.exit-box ul').toggle();
			})
			$('.exit-btn').click(function(){
					sessionStorage.setItem("usercode",""); 
					sessionStorage.setItem("userPhone",""); 
					window.location.href='login.html';
				})
		})
	</script>

</body>
</html>