<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body> 
		<div class="memb_header">
			我的订单
			<img src="img/jiantou.png" onclick="window.location.href='mybuy.html'";/>
		</div>
		<div class="banner">
			<ul class="order_header">
				<li class="order_header_left">
					当前登录账号
				</li>
				<li class="order_header_right uesr_phone">
					
				</li>
			</ul>
			<table bordercolor="#ffffff" class="order_table table_order" border="1" cellspacing="" cellpadding="" >
				<tr class="th_tr">
					<th>购买时间</th>
					<th>购买份数</th>
					<th class="zhifub">支付宝账号</th>
					<th class="zonge">总额</th>
					<th class="my_paystate orclick">
						付款状态
						<ul class="paystate_wrap menu">
							<li id="orderFinsh">已完成</li>
							<li id="orderCancel">已取消</li>
							<li id="orderWait">代付款</li>
						</ul>
					</th>
				</tr>
				<!--<tr>
					<td class="order_time">2016-05-05 20:22:22</td>
					<td>21.586</td>
					<td class="zhifub">15632424801</td>
					<td class="zonge">56398789</td>
					<td>已付款</td>
				</tr>-->

			</table>
			<div class="banner_bottom">
				<ul class="pagination" id="paginationNews"></ul>
			</div>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/myorder.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
