<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的团队</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/common.css">
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body> 
		<div class="memb_header">
			我的团队
			<!-- <img src="img/jiantou.png"/> -->
		</div>
		<!--<div class="banner">-->
			<ul class="team_header">
				<li class="team_header_left">
					当前登录账号
				</li>
				<li class="team_header_right uesr_phone">
					
				</li>
			</ul>
			<ul class="team_header">
				<li class="team_header_left">
					推荐会员人数
				</li>
				<li class="team_header_right color_red" id="rNum">
					
				</li>
			</ul>
			<div class="team_remcon">
				<ul class="team_remcon_ul">
					<li class="team_remcon_left">会员A</li>
					<li class="team_remcon_right" id="aNum"></li>
				</ul>
				<ul class="team_remcon_ul">
					<li class="team_remcon_left">会员B</li>
					<li class="team_remcon_right" id="bNum"></li>
				</ul>
				<ul class="team_remcon_ul">
					<li class="team_remcon_left">会员C</li>
					<li class="team_remcon_right" id="cNum"></li>
				</ul>
			</div>
			
			
			<table bordercolor="#ffffff" class="team_table table_order1" border="1" cellspacing="" cellpadding="">
				<tr class="th_tr">
					<th class="team_level orclick">会员级别 
						<ul class="team_vip_level menu">
							<li>全部</li>
							<li>A级</li>
							<li>B级</li>
							<li>C级</li>
						</ul>
					</th>
					<th>注册时间</th>
					<th class="zhifub">会员账号</th>
					<th class="zonge">会员姓名</th>
					<th class="goumai">购买量</th>
				</tr>
				<!--<tr>
					<td class="team_level">A级</td>
					<td>2016/5/9</td>
					<td class="zhifub">15632424801</td>
					<td class="zonge">玉涛涛涛</td>
					<td class="goumai">购买量</td>
				</tr>-->
			</table>
			<!--页码-->
				<ul class="pagination" id="paginationUser"></ul>
		
		</div>
		<div class="footer">
			<ul class="base">					
					<a href="mybuy.html"> 
						<img src="img/buy.png"/>  
						<span > 我要购买 </span>
					</a>
					<a href="Myaccount.html"> 
						<img src="img/account.png"/>  
						<span> 我的帐户</span>
					</a>
					<a href="myteam.html"> 
						<img src="img/team1.png"/>  
						<span class="hue"> 我的团队 </span>
					</a>
					<a href="myheart.html"> 
						<img src="img/person.png"/> 
						<span> 个人中心 </span>
					</a> 
			</ul>	
		<!--</div>-->
		<div class="banner_bottom">
			<ul class="pagination" id="pagination1"></ul>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/myteam.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
