<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的团队</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body class="body">
		
		
		<div class="ind_header">
			<!--<div class="logo_img">
				<img src="img/sanjielian_LOGO.png"/>
			</div>
			<div class="logo_word">
				SAN发行系统
			</div>-->
			<img src="img/sanjiebao_logo_fanbai.png"/>
		</div>
		
		
		<div class="team_banner">
			<h4>我的推荐</h4>
			<div class="team_banner_p">
				<div class="team_banner_p_left">
					<li>会员数</li>
					<li id="rNum"></li>
				</div>
				<div class="team_banner_p_right">
					<li>奖励SAN</li>
					<li id="findTTReward"></li>
				</div>
			</div>
		</div>
		<div class="ind_order">
			<!--<h4>会员查询</h4>-->
			<!--<div class="ind_order_p">
				<input class="vip_nub" type="text" name="" id="userstr" value="" placeholder="输入会员账号" />
				<input type="button"  class="color_white" name="" id="" value="查询" />
			</div>-->
			<table class="table_order table_team" border="0" cellspacing="" cellpadding="">
				<tr class="th_class"><th>注册时间</th><th>会员账号</th><th>推荐人</th><th>会员级别</th></tr>
			</table>
			<div class="banner_bottom banner_bottom1">
				    <ul class="pagination" id="paginationUser"></ul>
			</div>
			
		</div>
		<div class="footer_wrap">
			<a  href="index.html">
				<img src="img/woyaogoumai_hui.png"/>
				<div>我要购买</div>
			</a>
			<a  href="myteam.html">
				<img src="img/wodetuandui_lan.png"/>
				<div class="color_a">我的团队</div>
			</a>
			<a href="purse.html">
				<img src="img/gerenzhongxin_hui.png"/>
				<div>个人中心</div>
			</a>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/myteam.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
