<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>钱包</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	</head>
	<body class="body">
		
		
			
	<div class="ind_header">
			<!--<div class="logo_img">
				<img src="img/sanjielian_LOGO.png"/>
			</div>
			<div class="logo_word">
				SAN发行系统
			</div>-->
			<img src="img/sanjiebao_logo_fanbai.png"/>
		</div>
		
		
		<div class="team_banner">
			<h4 style="margin-top:0.4rem ;">我的钱包</h4>
			<div class="purse_banner_p">
				<div class="purse_banner_p_left">
					<li>余额SAN</li>
					<li id="findTB"></li>
				</div>
				
			</div>
			
		</div>
		
		
		
		<div class="team_banner">
			<h4>我的资料</h4>
			<div class="reg_banner_wrap">
			<div class="reg_li_wrap">
				<li class="reg_li_left"><span style="color: red; font-size:0.4rem;position: absolute;right: 0.66rem;top: 0.08rem;">*</span>姓名</li>
				<input type="text" class="pho_input" id="userName" value="" placeholder="请输入姓名" />
				<p class="page1_bott" id="point_userName"></p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left"><span style="color: red; font-size:0.4rem;position: absolute;right: 0.86rem;top: 0.08rem;">*</span>身份证</li>
				<input type="text" class="pho_input" id="idno" value="" placeholder="请输入身份证号码" />
				<p class="page1_bott" id="testCodeidno"></p>
			</div>
			
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">手机</li>
				<input type="text" class="pho_input" id="phone" value="" placeholder="请输入您的手机号" />
				<p class="page1_bott" id="userPassWord1"></p>
			</div>
			
		
			<div class="reg_li_wrap">
				<li class="reg_li_left">微信</li>
				<input type="text" class="pho_input"  id="wxnum" value="" placeholder="请输入您的微信号" />
				<p class="page1_bott" id="userPassWord2"></p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">支付宝</li>
				<input type="text" class="pho_input" id="bankaccno" value="" placeholder="请输入您的支付宝号" />
				<p class="page1_bott" id="userPassWord2"></p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">住址</li>
				<input type="text" class="pho_input" id="mailAddrss" value="" placeholder="请输入您的住址" />
				<p class="page1_bott" id="userPassWord2"></p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">邮编</li>
				<input type="text" class="pho_input" id="zipCode" value="" placeholder="请输入住址邮编" />
				<p class="page1_bott" id="userPassWord2"> </p>
			</div>
			
		</div>
		<div class="login_wrap">
			<input type="button" class="login_login" name="" id="sava" value="保存" />
			<input type="button" class="login_login" name="" id="dele" value="退出" />
		</div>
		</div>
		
		
		
		<div class="footer_wrap">
			<a href="index.html">
				<img src="img/woyaogoumai_hui.png"/>
				<div>我要购买</div>
			</a>
			<a  href="myteam.html">
				<img src="img/wodetuandui_hui.png"/>
				<div>我的团队</div>
			</a>
			<a href="purse.html">
				<img src="img/gerenzhongxin_lan.png"/>
				<div class="color_a">个人中心</div>
			</a>
		</div>
		
		
		
		<div class="reg_success">
    		<div class="reg_success_top">
    			<i class="iconfont">&#xe62c;</i>
    		</div>
    		<div class="reg_success_bottom ">
    			保存成功
    		</div>
    		
    	</div>
    	<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/phoneweb.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
