<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title> 普通会员 </title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
	</head>
	<body>
		
		
		<div class="login_header">
				<img src="img/TFCCLOGO.png"/>
				<!--<h1 class="h1"> SAN发行系统 </h1>-->
		</div>
		
		
		<div class="reg_top_wrap">
			<ul class="reg_top">
				<a href="registmen.html" class="li">普通会员</a>
				<a href="registfirm.html" class="li1">投资公司</a>
			</ul>
		</div>
		
		
		<div class="reg_banner_wrap">
			<div class="reg_li_wrap">
				<li class="reg_li_left">手机</li>
				<input type="text" class="pho_input" name="pho_number" id="pho_number1" value="" placeholder="请输入手机号" />
				<p class="page1_bot" id="point_phonnumber">  </p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">验证码</li>
				<input type="text" class="pho_input code" name="pho_code" id="pho_code" value="" placeholder="请输入验证码" />
				<button type="button" class="yanzheng" id="testBtn">获取验证码</button>
				<p class="page1_bot" id="testCodeText"> </p>
			</div>
			
			
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">密码</li>
				<input type="password" class="pho_input" name="pho_code" id="pho_password3" value="" placeholder="请输入密码" />
				<p class="page1_bot" id="userPassWord1"> </p>
			</div>
			
		
			<div class="reg_li_wrap">
				<li class="reg_li_left">再次确认</li>
				<input type="password" class="pho_input" name="pho_code" id="pho_password4" value="" placeholder="请再次输入密码" />
				<p class="page1_bot" id="userPassWord2"> </p>
			</div>
			
			<div class="reg_li_wrap">
				<li class="reg_li_left">推荐人</li>
				<input type="text" class="pho_input" name="pho_code"  id="phone4" value="" placeholder="请输入推荐人手机号" />
				<p class="page1_bot" id="userPassWord3"> </p>
			</div>
			
		</div>
		
		
		
		<div class="page4_btn_warp" style="margin-top:0.1rem ;">
    		<button  class="page4_btn" id="reg1" href="###">
        		立即注册
        	</button>
    	</div>
    	<div class="login_footer">
    		<a href="login.html">我有账号，直接登录</a>
    	</div>
    	
    	
    	<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    	<script src="js/phoneweb1.js" type="text/javascript" charset="utf-8"></script>
    	
	</body>
</html>
