<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账查询</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<style type="text/css">
			.transfer_table th{
				width: 1.85rem;
			}
			.transfer_table td{
				width: 1.85rem;
                font-size:0.22rem;
			}
			.transfer_ul{
				width: 1.8rem;
				height: 3.2rem;
				z-index: 111;
				position: relative;
			}
		</style>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body> 
		<div class="memb_header">
			转账查询
			<img src="img/jiantou.png" onclick="window.location.href='Myaccount.html'";/>
		</div>
		<div class="banner">
			<ul class="order_header">
				<li class="order_header_left">
					当前登录账号
				</li>
				<li class="order_header_right uesr_phone">
					
				</li>
			</ul>
			<table bordercolor="#ffffff" class="order_table transfer_table" border="1" cellspacing="" cellpadding="" >
				<tr class="th_tr">
					<th>时间</th>
					<th>转账额度</th>
					<th class="zhifub">对方账户名</th>
					<th class="my_paystate orclick">
						付款状态
						<ul class="paystate_wrap transfer_ul menu">
							<li id="orderAll">全部</li>
							<li id="orderFinsh">转账成功</li>
							<li id="orderCancel">转帐失败</li>
							<li id="orderWait">转账中</li>
						</ul>
					</th>
				</tr>
				<!--<tr>
					<td class="order_time">2016-05-05 20:22:22</td>
					<td>21.586</td>
					<td class="zhifub">15632424801</td>
					<td>已付款</td>
				</tr>-->

			</table>
			<div class="banner_bottom">
				<ul class="pagination" id="paginationNews"></ul>
			</div>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/transfer.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
