<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>会员信息</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="memb_header">
			会员信息
			<a href="myheart.html" class="m-bg-l"></a>
		</div>
		<div class="basic_info">
			基本信息
		</div>
		<div class="basic_info_div">
			<ul class="info_li">
				<li class="info_li_left">姓名</li>
				<li class="info_li_right" id="realName"></li>
			</ul>
			<ul class="info_li">
				<li class="info_li_left">账号</li>
				<li class="info_li_right" id="vipphone"></li>
			</ul>
		</div>
		<div class="basic_info" >
			补充信息
		</div>
		<div class="basic_info_div" style="padding:0;">
			
			<ul class="info_li info_pad">
				<li class="info_li_left ">支付宝账号</li>
				<input type="text" class="info_li_right" id="bankaccno" placeholder="输入支付宝账号"></input>
			</ul>
			<ul class="info_li info_pad">
				<li class="info_li_left">微信账号</li>
				<input type="text" class="info_li_right" id="wxnum" placeholder="输入微信账号"></input>
			</ul>
			<ul class="info_li info_pad">
				<li class="info_li_left">通信地址</li>
				<input type="text" class="info_li_right" id="mailAddrss" placeholder="输入通讯地址"></input>
			</ul>
		</div>
		<div class="page_bottom">
			<p class="page_bottom_ma" id="vipSave">保存</p>
		</div>
		<script src="js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vipcontent.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
