<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<script src="/resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
</head>
<body>
<a href="javascript:transferCallBack()">转账</a>
</body>
<script type="text/javascript">
 //转账回调
 function transferCallBack(){
	 var url = "/transfer/callback?orderId=23337&status=1&value=10&ts=1476187837550&sign=1deae97b763757fc06c20e41f810d42b09de42c4c5386bf5b1abe87f818aa0dd";
	 $.post(url,function(data){
		 if(data.success){
			 alert("转账成功")
		 }else{
			 alert("转账失败");
		 }
	 });
 }
</script>
</html>