.main-top{
    margin-left:20px;
    height: 52px;
    border-bottom: 2px solid #ddd;
    line-height: 52px;
}
.main-top span{
    font-size: 14px;
    line-height: 52px;
}
.c28{color:#282828;}
.main-mid{
    margin-left:20px;
    margin-top:20px;
}
.mid-l{
    width:400px;
    border-right:1px solid #ddd;
    float:left;
}
.mid-l h3{
    font-size: 16px;
    color:#282828;
}
.mid-l p{
    font-size:14px;
    color:#646464;
}
.mid-r {
    float:left;
    margin-left: 20px;
}
.mid-r label{
    display: inline-block;
    width:120px;
    margin-right:16px;
    font-size:14px;
    color:#575757;
}
.mid-r a{
    display: block;
    background:url("../../imgs/tijiao.png") no-repeat;
    height:44px;
    width:220px;
    line-height: 44px;
    color:#fff;
    font-size: 14px;
    text-align: center;
    margin-left:60px;
    margin-top:30px;
}
.mid-r div{
    margin-bottom:20px;
}
.mid-r input{
    width:178px;
    height:30px;
}
.main-btm{
    margin-left: 20px;
}
.main-btm .search h3{
    margin:30px 0  20px 0;
    font-size: 16px;
    color:#282828;
}
.main-btm .search span,.main-btm .search a{
    color:#646464;
    font-size: 14px;
}
.main-btm .search span{
    margin-right: 30px;
}
.main-btm .search .sel{
    height:30px;
    line-height: 30px;
}
.main-btm .search a{
    display: inline-block;
    height:28px;
    width:100px;
    border: 1px solid #ddd;
    text-align: center;
    margin-left: 480px;
}
.main-btm .search select{
    width: 120px;
    height:30px;
    text-indent: 12px;
}


    /*分页*/
.table-list{
    margin: 22px 0px;
    height:370px;
}
.result-tab{
    border-collapse: collapse;
}
.result-tab tr{
    height:42px;
    border:1px solid #ddd;
}
.result-tab tr:nth-child(odd){
    background:#f6fafe;
}
.result-tab tr th{
    font-size: 14px;
    color:#575757;
    border:none;
}

.pages1{
    margin-top:20px;
    height:32px;
}
.main-btm .pages1 ul {
    width: 900px;
    margin: 0 auto;
}
.main-btm .pages1 ul li{
    margin: 0px 5px;
    height: 32px;
    line-height: 32px;
    width: 57px;
    border: 1px solid #ddd;
    text-align: center;
}
.main-btm .pages1 ul li input{
    height:28px;
    text-indent:8px;
    border:none;
    margin: 1px 6px;
}
.main-btm .pages1 ul li a{
    display: block;
    height:32px;
}
.main-btm .pages1 ul li select{
    height: 32px;
    border: none;
    text-indent: 12px;
    line-height: 32px;
}
.bg-color{
    background: cyan;
}
