.main-top{
	width:100%;
	height:52px;
	border-bottom: 1px solid #ddd;
	line-height:52px;
	 text-indent: 20px;
}
.main-top span{
	font-size: 14px;
}
.c28{
	color:#282828;
}
.my-sum{
	margin:0 20px;
	border-bottom: 1px solid #ddd;
	height:82px;
	margin-bottom:20px;
}
.my-sum h4,.my-award h4{
	font-size: 14px;
	color:#575757;
}
.my-sum ul li,.my-award ul li{
	float:left;
	color:#575757;
	margin-left:58px;
	height:48px;
}
.my-sum ul li span,.my-award ul li span{
	font-size: 24px;
	color:#e9382c;
	display: inline-block;
	line-height:48px;
	height:100%;
}

.my-sum ul li div{
	display: inline-block;
	line-height:24px;
	height:24px;
	margin-top: -12px;
	vertical-align: middle;
	color:#575757;
}
.my-sum ul .zhuanzhang{
	width:100px;
	height:30px;
	border:1px solid #ddd;
	color:#fff;border-radius:5px;
	line-height: 30px;
    text-align: center:
    position:absolute;
    left:900px;
    top:10px;
    font-size:14px;
    background: dodgerblue;
 }
.my-serach
	margin-left:20px;
}
.my-serach>h3{
	font-size:14px;
	color:#575757;
}

.my-award{
	margin: 0 20px;
	border-bottom: 1px solid #ddd;
	height:116px;
	margin-bottom:20px;
}
.my-award ul li{
	margin-left: 68px;
	margin-top: 10px;
}
.my-award ul li .c57{
	font-size: 14px;
	color:#575757;
}
.my-award ul li .ce9{
	color:#e9382c;
	font-size: 24px;
}
.zhuan-zhang{
	position:relative;
}
.zhuan-zhang ul{
	width:1000px;
}
.ser-tit{
	margin:20px 0 0 80px;
}


/*转账*/
/*转账*/

.trans-account{
	display: none;
}
.trans-wrap{
    margin-left: 20px;
}
.trans-wrap>p{
	color:#575757;
	font-size: 14px;
	margin:24px 0px 24px 0px;
}
.trans-type{
	height:30px;
	line-height: 30px;
}
.trans-type p{
	display: inline-block;
	color:#575757;
	font-size: 14px;
	*zoom:1;
	*display: inline;
}

.trans-type  span{
	*zoom:1;*display: inline;
}
.trans-type select{
	height:30px;
	text-indent:12px;
	margin-left:24px;
	width:120px;
}
.trans-tfcc,.trans-jfcc{
	height:30px;
	margin-top: 24px;
	position: relative;
}
.trans-tfcc p,.trans-jfcc p{
	display: inline-block;
	margin-right: 24px;
	color:#575757;
	font-size: 14px; 
	*zoom:1;
	*display: inline;
}
.trans-tfcc span,.trans-jfcc span{
	font-size: 14px;
}
.trans-tfcc input,.trans-jfcc input{
	width:180px;
	height:26px;
}
.t_trans{
	color:#2b71b1;
}
.trans-tfcc div,.trans-jfcc div {
	margin-top: 66px;
}
.trans-tfcc div a,.trans-jfcc div a{
	width:116px;
	height:44px;
	background: url("../../imgs/safty1.jpg") no-repeat;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	color: #fff;
}
.trans-tfcc div .tfcc-btn ,.trans-jfcc div .jfcc-btn{
	margin:0px 18px 0px 40px;
	}
.trans-jfcc{
	display: none;
}
.errorc{
	font-size:12px
	color:red;
	position:absolute;
	left:84px;
	top:30px;
}
/*粉红提示*/
.dividend{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(5, 5, 5, 0.47);
	z-index: 111;
	display: none;
}
.dividend-box{
	position:absolute;
	left:30%;
	top:30%;
	width:361px;
	height:220px;
	border-radius: 5px;
	background: #fff;
}
.dividend-box p{
	font-size: 18px;
	color:#282828;
	width:184px;
	margin:54px auto;
	text-align: center;
}
.dividend-box a{
	font-size:18px;
	border-top: 1px solid #ddd;
	height:55px;
	width:180px;
	text-align: center;
	display: inline-block;
	line-height: 55px;
}
.dividend-box .yes{
	color:#2b71b1;
	border-right: 1px solid #ddd;
}
