
.main-top{
    height:52px;
    width:100%;
    border-bottom: 1px solid #ddd;
}
.main-top div{
    margin-left: 10px;
    font-size: 14px;
    line-height: 52px;
}
.main-top span{
    font-size: 14px;
    line-height: 52px;
}
.main-top .c28{
    color:#282828;
}
.main-middle{
    margin:0 20px;
    height:130px;
    border-bottom:1px solid #ddd;
}
.main-middle .member{
    width:840px;
}
.main-middle .member li{
    float:left;
    width:160px;
    margin:8px 10px 0 0 ;

    font-size: 14px;
    color:#575757;
}
.member span{
    font-size:24px;
    font-weight: bold;
}
.member .member1{
    color:#e9382c;
}
.member .member2{
    color:#ff712b;
}
.member .member3{
    color:#ff9630;
}
.member .member4{
    color:#ffbc4b;
}
.member .member5{
    color:#e9382c;
}
.main-middle .huiyuan li{
    height:24px;
    cursor: pointer;;
    float:left;
    margin:14px 0px 0px;
    font-size: 14px;
    color:#575757;
}
.main-middle .huiyuan .member-tab,.main-middle .huiyuan .branch-tab{
    width:140px;
    margin:13px 0px 0px;
    text-align: center;
}
.main-middle .huiyuan .act{
    color:red;
    border-bottom:3px solid red;
}
 .btm{
    position: relative;
   margin:20px 20px;
     height: 560px;
}
 .btm .btm-type ul{
     width:820px;
 }
 .btm ul li{
    float:left;
    text-align: left;
    font-size: 14px;
    height:24px;
    line-height: 24px;
    margin-right:30px;
    color:#575755;
}

.type-btn a{
    display: block;
    font-size: 14px;
    width:100px;
    height:28px;
    color:#575757;
    border:1px solid #ddd;
    text-align: center;
    line-height: 28px;
    margin-left: 222px;
}
 .btm ul input{
    width:14px;
    height:14px;
    vertical-align: middle;
}
 .btm .serch {
    height:30px;
    width:820px;
    margin-top:20px;
    line-height: 30px;
}
 .btm .serch li{
    height:30px;
    line-height: 30px;
}
 .btm .serch select{
    height:32px;
    width:120px;
    text-indent: 19px;
}
.btm .serch li input{
    height:28px;
    width:180px;
}
.btm .serch .ser-btn{
    margin-left: 228px;
    width:100px;
    height:28px;
    text-align: center;
    border:1px solid #ddd;
}
.reg-time .date{
    width:100%;
    margin-top:20px;
}
.reg-time .date li{
    height:28px;
    line-height: 28px;
}
.reg-time .time-list{
    width:600px;
}
.reg-time .time-list span a{
    margin-left: 20px;
    color:#e9382c;
}
.reg-time .time-btn{
    border:1px solid #ddd;
    width:100px;
    height:28px;
    text-align: center;
    margin-left: -38px;
}


/*分页*/
.table-list{
    margin: 22px 0px;
    height:370px;
}
.result-tab{
	/*border:0*/
}
.result-tab tr{
    height:42px;
    border:1px solid #ddd;
}
.result-tab tr:nth-child(odd){
	 background:#f6fafe;
}
.result-tab tr th{
   border:1px solid #ddd;
    
}
.result-tab tr th{
    font-size: 14px;
    color:#575757;
}

.pages1{
    margin-top:20px;
    height:32px;
}
.btm .pages1 ul {
   width: 900px;
    margin: 0 auto;
}
.btm .pages1 ul li{
    margin: 0px 20px;
    height:32px;
    line-height: 32px;
}
.btm .pages1 ul li input{
    height:18px;
    margin-top: 5px;
}
.btm .pages1 ul li a{
    display: block;
    height:32px;
}
.btm .pages1 ul li select{
        margin-top: 5px;
}















