.main-top{
    width:100%;
    height:52px;
    border-bottom:1px solid #ddd;
    line-height: 52px;
    text-indent: 20px;
    font-size: 14px;
}
.main-top span{
    color:#282828;
}
.main-photo {
    /*此处不用width：100%*/
    height: 190px;
    margin:0 20px;
    border-bottom:1px solid #ddd;
}
.main-photo .pic p,.upload p{
    margin:16px 30px 14px;
    font-size: 14px;
    color:#575757;
}
.main-photo .pic div{
    width:114px;
    height:114px;
    padding:4px;
    border:1px solid #ddd;
}
.upload{
    margin:0 70px;
}
.upload input{
    width:130px;
    height:30px;
}
.form{
    margin-left:20px;
}
.form div{
    margin:20px 0;
}
.form input{

    width:260px;
    height:40px;
    margin-right: 14px;
}
.form label{
    width:80px;
    text-align: right;
    display:inline-block;
    font-size: 14px;
    margin-right: 18px;
    color:#474e5d;
}
.form div a{
    display: block;
    width:162px;
    height:44px;
    background: url("../../imgs/save1.jpg") no-repeat;
    margin-left: 98px;
}
.hint{
    color:#e9382c;
}
