.header{
    width:100%;
    background:#2b71b1;
}
.logo img{
   /* margin-top:14px;*/
}
.container{
    width:100%;
    height:846px;
    background:#f9f9f9;
}
.container .cur{
    height:52px;
    line-height: 54px;

}
.container .cur span{
    color:#282828;
}
.cur-reg{
    height: 918px;
    width:1000px;
    border:1px solid #ccc;
    background:#fff;
}
.cur-reg .reg-pic{
    margin:14px 0;
}

.reg-nav{
   margin-left:246px;
}
.reg-nav ul{
    background: url('../../imgs/reg.png') no-repeat 0px -156px;
    width: 790px;
    height: 42px;

}
.reg-nav ul li{
    float:left;
    width:150px;
    text-align: center;
    line-height: 42px;
    color:#575757;
    font-size:14px;

}
.reg-nav ul .five{
    width:170px;
}
.reg-nav ul .one{
    width:170px;
}

.reg-nav .active{
    color:#fff;
    background: url('../../imgs/reg.png') no-repeat;
}
.form {
    margin: 32px 0 0 64px;
    width: 730px;
    height: 700px;
    position: relative;
}

.form form{
    position: relative;
    display: block;

}
.form form div{
    /*position: relative;*/
}
.error1{
    position: absolute;
    left:244px;
    font-size:12px ;
    margin-top: 45px;
    color:red;
}
.form .hide{display: none;}

.form div{
    margin:30px 0 0 118px;
}
.form div label{
    font-size:14px;
    width:110px;
    display: inline-block;
    text-align: right;
    margin-right:12px;
}

.cur-reg .forget-form .yzm{

}
.form div input{
    width:310px;
    height:40px;
}
.form div label span{
    color:#ef807a;
}
.form .yzmA,.form .yzmB,form div .yzmC,form div .yzmD,.forget-form .yzm{
    width:120px;
    height:43px;
    margin-left:8px;
    display: inline-block;
    font-size: 12px;
}
.form .yzm-t{
    display: inline-block;
    margin-left:12px;
    font-size: 12px;
}
.form .myagree{
    margin-left:192px;
}
.form .myagree input{
    width:14px;
    height:14px;
    vertical-align: middle;
}
.form .myagree label{
    font-size: 12px;
    margin-left:10px;
    text-align: left;
    display: inline-block;
}
form .myagree span{
    font-size:12px;
    color:#3c8ad1;
}
.form .submitA a,.form .submitB a,.form .submitC a,.form .submitD a,.forms .submit2 a ,.forget-form a{
    width:163px;
    height:42px;
    margin-left:122px;
    background:url('../../imgs/reg3.jpg');
    display:inline-block;
    text-align: center;
    line-height: 42px;
    color:#fff;
}

/*/////////////////*/
.reg-nav .form1{
    width:636px;
    height:400px;
    margin:30px 0  0 90px;
}
.footer p{
    font-size: 12px;
    text-align: center;
}

/*�ύ�ɹ�����*/
.mark1,.mark2{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(5, 5, 5, 0.47);
    z-index: 9999;
    display: none;

}
 .mark1-box{
     position: absolute;
     top:50%;
     left:50%;
     width:500px;
     height:256px;
     margin-left:-250px;
     margin-top:-128px;
     background: #fff;
     box-shadow: 1px 1px 1px;
     border-radius: 5px;
 }
.mark1 .mark1-box h2{
    text-align: center;
    margin-top:42px;
    color:#282828;
}

.mark1-box .real-name{
    width:224px;
    height:44px;
    background: url("../../imgs/btn1.jpg") no-repeat;
    background-position:-116px -72px;
    text-align: center;
    margin:42px auto 0px;
    line-height: 44px;
}
.mark1-box .real-name1{
    position: absolute;
    top:115px;
    left:138px;
    width:224px;
    height:44px;
    background: url("../../imgs/btn1.jpg") no-repeat;
    background-position:-116px -134px;
    text-align: center;
    line-height: 44px;
    display: none;
}
.mark1-box .real-name a,.mark1-box .real-name1 a,.mark1-box .later-on1 a,.mark1-box .succ a{
    color:#fff;
}
.mark1-box .later-on{
    width:224px;
    height:44px;
    background: url("../../imgs/btn1.jpg") no-repeat;
    background-position:-116px -192px;
    text-align: center;
    margin:20px  auto;
    line-height: 44px;
}
.mark1-box .later-on1{
    position: absolute;
    top:157px;
    left:138px;
    width:224px;
    height:44px;
    background: url("../../imgs/btn1.jpg") no-repeat;
    background-position:-116px -72px;
    text-align: center;
    margin:20px  auto;
    line-height: 44px;
    /*display: none;*/
}
.mark1-box.later-on{
    color:#575757;
}
.mark1-box .icon{
    background: url("../../imgs/btn2.jpg") no-repeat;
    width:84px;
    height:84px;
    background-position:-68px -12px;
    margin:38px auto 10px;
}
.mark1-box p{
    text-align: center;
    color:#282828;
    font-size: 18px;
    margin:0;
}
.mark1-box .succ{
    background: url("../../imgs/btn2.jpg") no-repeat;
    width:224px;
    height:44px;
    background-position:-6px -106px;
    margin:24px auto 10px;
    text-align: center;
    line-height: 44px;
}
.success-icon{
    width:82px;
    height:82px;
    background: url("../../imgs/save2.jpg");
    margin:38px auto 16px;
}
.achieve{
    background: url("../../imgs/btn2.jpg") no-repeat;
    width:224px;
    height:44px;
    background-position:-6px -106px;
    margin:24px auto 10px;
    text-align: center;
    line-height: 44px;
}
.achieve p{
    color:#fff;
    font-size: 14px;
}

























