<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
            body{text-align:center}
            .i404{width:375px;height:175px;margin:200px auto 0;background:url("${basePath}/resources/yc_udrs/imgs/i404.png") no-repeat;}
            p{margin:20px auto 40px;font-size:24px;font-weight:bold;}
            a{display:block;width:344px;height:48px;margin:0 auto;background:url("${basePath}/resources/yc_udrs/imgs/i_home.png") no-repeat;}
        </style>
    </head>
<body>
<!--html start-->
<div class="i404"></div>
<p>抱歉！系统正在升级...</p>
<a href="${basePath}/"></a>
<!--html end-->

</body>
</html>