 <!doctype html>
 <html lang="en">
	<head>
 		<meta charset="UTF-8">
 		<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	   <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
	   <META HTTP-EQUIV="expires" CONTENT="0">
 		<title>三界宝数字资产</title>
 		<meta name="description" content="原油币（SAN）发行及推广系统">
 		<meta name="keywords" content="原油，币，SAN，会员，管理，系统，区块链">
       <link rel="icon" href="../resources/qkl_tfcc/imgs/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="../resources/qkl_tfcc/css/common/reset.css">
		<link rel="stylesheet" href="../resources/qkl_tfcc/css/index/index.css">
		<link rel="stylesheet" href="../resources/qkl_tfcc/css/common/style.css">
		<script src="../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
	
		<script src="../resources/qkl_tfcc/js/common/jquery.event.drag-1.5.min.js"></script>
		<script src="../resources/qkl_tfcc/js/common/jquery.touchSlider.js"></script>
		<style>
		
	   .login-form {
				position: absolute;
				top: 0;
				left: 0;
			width: 100%;
		}		
		input:-webkit-autofill {  
    		-webkit-box-shadow: 0 0 0px 1000px white inset !important;  
		} 
		.fengxian{
			    position:fixed; 
				_position:absolute; 
			    top:0;
			    left:0;
			    width: 100%;
			    height:100%;
			    background: rgba(5, 5, 5, 0.47);
			    z-index: 9999999;			    		    
			    -pie-background:rgba(5,5,5,.5);/*IE6-8*/ 
			    box-shadow: 1px 1px rgba(5,5,5,.5);
			    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
			}
		.fengxian-m{
			position: absolute;
		    top:50%;
		    left:50%;
		    width:703px;
		    height:309px;
		    margin-left:-350px;
		    margin-top:-128px;
		    box-shadow: 1px 1px 1px;
		    border-radius: 5px;
		    background: url(../resources/qkl_tfcc/imgs/mark111.png);
		}
		.fengxian-m img{
			position:absolute;
			right:18px;
			top:18px;
		}
		</style>
		<script> 		
			//平台、设备和操作系统
			var system ={
			win : false,
			mac : false,
			xll : false
			};
			//检测平台
			var p = navigator.platform;			 
			system.win = p.indexOf("Win") == 0;
			system.mac = p.indexOf("Mac") == 0;
			system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
			//跳转语句
			if(system.win||system.mac||system.xll){//转向后台登陆页面
			 
			}else{				
			window.location.href="../view/mobile/login.html";
			}
			
			
	</script>
	
	</head>

	<body ><!--oncontextmenu="return false" onselectstart="return false" -->
		<div class="fengxian">
			<div class="fengxian-m">
				<img src="../resources/qkl_tfcc/imgs/xxxx.png"" alt="" />
			</div>
		</div>
		
		
		<div class="container">
			<!-- 头部开始 -->
			<div class="header fix">
				<div class="head-top">
					<div class="logo">
						<img src="../resources/qkl_tfcc/imgs/logos.png" alt="">
					</div>
					<ul class="nav">
						<!--<li><a href="">原油币TFCC会员管理系统</a><span></span></li>
			<li><a href="">R8数字资产交易所</a><span></span></li>
			<li><a href=""> 帮助 </a></li>-->
					</ul>
			</div>
			</div>

			<!-- 内容开始 -->
			<div class="content ">
				<div class="login ">
					<div class="main_visual">
						<div class="flicking_con">
							<a href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
					</div>
						<div class="main_image">
							<ul> 
								<li><span class="img_3" style="background:url('../resources/qkl_tfcc/imgs/banner1.jpg') no-repeat center"></span></li>
								<li><span class="img_4" style="background:url('../resources/qkl_tfcc/imgs/banner2.jpg') no-repeat center"></span></li>
								<li><span class="img_1" style="background:url('../resources/qkl_tfcc/imgs/banner3.jpg') no-repeat center"></span></li>
							</ul>
						<a href="javascript:;" id="btn_prev"></a>
							<a href="javascript:;" id="btn_next"></a>
						</div>
				</div>

					<!--登录表单-->
					<div class="login-form">
						<div class="data-width">
							<div class="register">
								<form action="" class="form1" method="post">
									<div class="form-h">
										<h3>会员账号登录</h3>
										<!-- <h4><a href="../register/resources/qkl_tfcc/register.html">没有账号?</a></h4> -->
									</div>
									<ul class="form-input1">
										<li class="w250">
											<span style="background:url('../resources/qkl_tfcc/imgs/icon1.png');top:8px;left:10px;"></span>
											<input type="text" name="phone" id="phone" class="phone"  placeholder="请输入手机号"    maxlength="11"><em class="error1"></em>
										</li>
										<li class="w250">
											<span style="background:url('../resources/qkl_tfcc/imgs/icon2.png');top:6px;left:10px;"></span>
											<input type="password" name="password" id="password" class="pass" placeholder="请输入登录密码" maxlength="20" >
											<em class="error1"></em>
										</li>
										<li class="fix wm">											
											<input type="text" class="xiaoyan" id="yzm" name="yzm" placeholder="请输入验证码" maxlength="6" >
											<!--<p class="fr" id="check-code" ></p>-->
												<span id="check-code" ondragstart="return false" oncontextmenu="return false" onselectstart="return false"  onbeforecopy="return false" oncopy=document.selection.empty() onselect=document.selection.empty()></span>
											<em class="error1"></em>
										</li>
										<li class="mind-my"><input type="checkbox" id="saveid" class="sure fl" checked="checked"><h5 class="mind">请记住手机号</h5></li>
										<li>
											
			                                <a  class="submit"  style="color:#fff;background:#3884c9;border:none">登&nbsp;录</a>
										</li>
										<li class="input-reg">
											<p class="fl"><a href="/view/register.html" >免费注册</a></p>
											<p class="fr"><a style="color:#fa5a49" href="/view/forget-password.html">忘记密码？</a></p>
										</li>
									</ul>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer data-width">
			<p class="address">©Copyright 2014-2016 sanledger.com All Rights Reserved. Powered by SAN（天津）思则通网络科技有限公司津ICP备13025163号-1</p>
	    <p class="address" style="color:#3884c9">如有疑问，请咨询客服：QQ401147965</p>
		</div>
	</div>
   
  		<script src="../resources/qkl_tfcc/js/login/sub-login.js"></script>
  		<script src="../resources/qkl_tfcc/js/common/jquery.cookie.js"></script>
  			<script src="../resources/qkl_tfcc/js/common/inputs.js"></script>
	<script>
   			$(document).ready(function() {
  
   				$(".main_visual").hover(function() {
				$("#btn_prev,#btn_next").fadeIn()
			}, function() {
				$("#btn_prev,#btn_next").fadeOut()
   				});
   
   				$dragBln = false;
   
   				$(".main_image").touchSlider({
				flexible: true,
				speed: 200,
				btn_prev: $("#btn_prev"),
				btn_next: $("#btn_next"),
				paging: $(".flicking_con a"),
				counter: function(e) {
					$(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
   					}
   				});
  
   				$(".main_image").bind("mousedown", function() {
   					$dragBln = false;
   				});
   
   				$(".main_image").bind("dragstart", function() {
   					$dragBln = true;
   				});
   
   				$(".main_image a").click(function() {
				if($dragBln) {
					return false;
				}
			});
			timer = setInterval(function() {
				$("#btn_next").click();
   				}, 3000);
   
   				$(".main_visual").hover(function() {
				clearInterval(timer);
			}, function() {
				timer = setInterval(function() {
					$("#btn_next").click();
   					}, 3000);
   				});
   
   				$(".main_image").bind("touchstart", function() {
				clearInterval(timer);
			}).bind("touchend", function() {
				timer = setInterval(function() {
					$("#btn_next").click();
   					}, 3000);
   				});
   
   			});
   		</script>
  		<script>
  			$('.fengxian-m img').click(function(){
  			  $('.fengxian').hide();
  			})
  		</script>
   	</body>
   
   </html>
