<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员注册</title>
    <link rel="icon" href="../resources/qkl_tfcc/imgs/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../resources/qkl_tfcc/css/common/reset.css"/>
    <link rel="stylesheet" href="../resources/qkl_tfcc/css/common/common.css"/>
     <link rel="stylesheet" href="../resources/qkl_tfcc/css/register/register.css"/>
    <script src="../resources/qkl_tfcc/js/common/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        .fl li,.yzm{cursor:pointer;}
        .submit a{cursor:pointer;}
        .form .yzm {width:135px;}
        label {width:300px;}
    </style>
</head>
<body class="body-o" >
    <div class="mark1">
        <div class="mark1-box">
            <p class="secc11">恭喜您注册成功！</p>
            <!--<div class="real-name">
                <a href="/view/general_vip/general_safety.html">实名认证获取第一桶金</a>
            </div>-->
            <div class="real-name">
                <a href="/view/general_vip/general_account.html">稍后再说</a>
            </div>
        </div>
    </div>
    <div class="mark2">
        <div class="mark1-box">
            <div class="success-icon"></div>
            <p>恭喜您注册成功！</p>
            <div class="achieve">
                <a href="/view/lp_vip/lp_account.html">完成</a>
            </div>
        </div>
    </div>
    <div class="mark3">
        <div class="mark1-box">
            <div class="success-icon"></div>
            <p>恭喜您注册成功！</p>
            <div class="achieve">
                <a href="/view/invest_vip/invest_account.html">完成</a>
            </div>
        </div>
    </div>
<!--     <div id="head_c"> </div> -->
    <div class="header">
    	
        <div class="reg-logo data-width">
            <img src="../resources/qkl_tfcc/imgs/reglogos_02.png" alt=""/>
        </div>
    </div>
    <div class="container">
        <div class="data-width">
            <div class="">
                <div class="cur"><a href="/view/login.html">你当前的位置：首页</a><span>>注册</span></div>
            </div>
            <div class="cur-reg">
                  <div class="reg-pic">
                      <img src="../resources/qkl_tfcc/imgs/reg1.jpg" alt=""/>
                  </div>
                  <div class="reg-nav fix">
                     <ul class="fl">
                        <li class="active one" style="background-position:0px 0px;">普通会员注册</li>
<!--                         <li style="background-position:-170px  -61px">网点会员注册</li> -->
<!--                         <li style="background-position:-320px  -104px">LP 会员注册</li> -->
                        <li  class="five" style="background-position:-320px  -104px">投资公司</li>
                    </ul>
                  </div>
     
                 <div class="form">
                    <!--普通会员-->
                    <form action="" class="form1" method="post" style="display: block">
                        <div>
                            <label >手机号 <span>*</span></label>
                            <input type="text" name="phone" class="phone" placeholder="请输入你的手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <div class="div-yzm">
                            <label >验证码 <span>*</span></label>
                            <input type="text" name="yzm" placeholder="请输入手机验证码" maxlength="6"/>
                            <input type="button" class="yzm" value="获取验证码" />
                            
                            <em class="error1"></em><span class="yzm-t"></span>
                        </div>
                        <div>
                            <label >密码 <span>*</span></label>
                            <input type="password" name="password"  class="password" placeholder="请输入登录密码"  maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >重复密码 <span>*</span></label>
                            <input type="password" name="resPassword" placeholder="请确认登陆密码" maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >推荐人 <span>*</span></label>
                            <input type="text" id="ref_phone" name="phone1" class="phone1" placeholder="输入推荐人手机号" maxlength="11" />
                            <em class="error1"></em>
                        </div>
                         <p class="myagree"><input type="checkbox" checked="checked" readonly="readonly"/><label>我 同意</label>&nbsp;<span>《用户协议》</span></p>                      
                        <div class="submit" ><a>立即注册</a></div>    
                    </form>
                    
                    <!--网点会员注册-->
                    <!-- <form  class="hide">
                        <div>
                            <label >手机号 <span>*</span></label>
                            <input type="text" name="phone" placeholder="请输入你的手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >验证码 <span>*</span></label>
                            <input type="text" name="yzm" placeholder="请输入手机验证码" />
                            <input type="button" class="yzm" value="获取验证码"/>
                            <em class="error1"></em>
                            <span class="yzm-t"></span>
                        </div>
                        <div>
                            <label >网点名称<span>*</span></label>
                            <input type="text" name="branch" placeholder="实际网点名称"  maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >姓名<span>*</span></label>
                            <input type="text" name="username" placeholder="网点负责人真实姓名"  maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >法人身份证<span>*</span></label>
                            <input type="password" name="idcard" placeholder="请输入有效的身份证号码"  maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >密码 <span>*</span></label>
                            <input type="password" name="password" placeholder="请输入登录密码"  maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >重复密码 <span>*</span></label>
                            <input type="password" name="resPassword" placeholder="请确认登陆密码" maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >推荐人 <span>*</span></label>
                            <input type="text" name="phone1" placeholder="输入推荐人手机号"/>
                            <em class="error1"></em>
                        </div>
                        <p class="myagree"><input type="checkbox"/><label>我 同意</label>&nbsp;<span>《用户协议》</span></p>
                        <div class="submit"><a >立即注册</a></div>
                    </form> -->

                     <!--lp注册会员-->
                    <!-- <form action="" class="hide form2">
                        <div><label >手机号 <span>*</span></label>
                            <input type="text" name="phone" placeholder="请输入你的手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >验证码 <span>*</span></label>
                            <input type="text" name="yzm" placeholder="请输入手机验证码" maxlength="6"/>
                            <input type="button" class="yzm" value="获取验证码"/>
                            <em class="error1"></em><span class="yzm-t"></span>
                        </div>
                        <div>
                            <label >姓名<span>*</span></label>
                            <input type="text" name="realName" placeholder="请输入您的真实姓名"  maxlength="5"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >身份证号码<span>*</span>
                            </label><input type="text" name="idno" placeholder="请输入您的有效身份证"  maxlength="18"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >密码 <span>*</span></label>
                            <input type="password" name="password" placeholder="请输入登录密码"  maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >重复密码 <span>*</span></label>
                            <input type="password" name="resPassword" placeholder="请确认登陆密码" maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >推荐人 <span>*</span></label>
                            <input type="text" name="phone1" placeholder="输入推荐人手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <p class="myagree"><input type="checkbox"/><label>我 同意</label>&nbsp;<span>《用户协议》</span></p>
                        <div class="submit"><a >立即注册</a></div>
                    </form> -->

                     <!--投资商会员注册-->
                    <form action="" class="hide form3">
                        <div>
                            <label >手机号 <span>*</span></label>
                            <input type="text" name="phone" placeholder="请输入你的手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >验证码 <span>*</span></label>
                            <input type="text" name="yzm" placeholder="请输入手机验证码" maxlength="6"/>
                            <input type="button" class="yzm"  value="获取验证码"/>
                            <em class="error1"></em><span class="yzm-t"></span>
                        </div>
                        <div>
                            <label >公司名称<span>*</span></label>
                            <input type="text" name="cropName" placeholder="请输入公司名称"  maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >公司法人<span>*</span></label>
                            <input type="text" name="realName" placeholder="请输入法人的真实姓名"  maxlength="30"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >公司法人身份证号码<span>*</span></label>
                            <input type="text" name="idno" placeholder="请输入您的有效身份证号码"  maxlength="18"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >密码 <span>*</span></label>
                            <input type="password" name="password" placeholder="请输入登录密码"  maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >重复密码 <span>*</span></label>
                            <input type="password" name="resPassword" placeholder="请确认登陆密码" maxlength="20"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >推荐人 <span>*</span></label>
                            <input type="text" id="ref_phone1" name="phone1" placeholder="输入推荐人手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                         <p class="myagree"><input type="checkbox" checked="checked"  /><label>我 同意</label>&nbsp;<span>《用户协议》</span></p> 
                        <div class="submit"><a >立即注册</a></div>
                    </form>
                    <!-- <form action="" class="hide">
                        <div>
                            <label >手机号 <span>*</span></label>
                            <input type="text" name="username1" placeholder="请输入你的手机号" maxlength="11"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >验证码 <span>*</span></label>
                            <input type="text" name="yzm1" placeholder="请输入手机验证码" />
                            <input type="button" class="yzm" value="获取验证码"/>
                            <em class="error1"></em><span class="yzm-t"></span>
                        </div>
                        <div>
                            <label >密码 <span>*</span></label>
                            <input type="password" name="password1" placeholder="请输入登录密码"  maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >重复密码 <span>*</span></label>
                            <input type="password" name="resPassword" placeholder="请确认登陆密码" maxlength="16"/>
                            <em class="error1"></em>
                        </div>
                        <div>
                            <label >推荐人 <span>*</span></label>
                            <input type="text" name="phone1" placeholder="输入推荐人手机号"/>
                            <em class="error1"></em>
                        </div>
                        <p class="myagree"><input type="checkbox"/><label>我 同意</label>&nbsp;<span>《用户协议》</span></p>
                        <div class="submit"><a >立即注册</a></div>
                    </form> -->
                </div>
            </div>
        </div>
		
        <div class="footer">
            <p>©Copyright 2014-2016  sanledger.com  All Rights Reserved. Powered by SAN（天津）思则通网络科技有限公司津ICP备13025163号-1</p>
        </div>
        
    </div>
     <div class="myagree-hid">
     	<div class="hid-top">
     		<h2>用户注册协议</h2><div class="hid-x">X</div>
     		<div class="hid-mian">
     			<div>
		     		
		     		<p>请务必认真阅读和理解本《用户服务协议》（以下简称《协议》）中规定的所有权利和限制。除非您接受本《协议》条款，否则您无权注册、登录或使用本协议所涉及的相关服务。您一旦注册、登录、使用或以任何方式使用本《协议》所涉及的相关服务的行为将视为对本《协议》的接受，即表示您同意接受本《协议》各项条款的约束。如果您不同意本《协议》中的条款，请不要注册、登录或使用本《协议》相关服务。 本《协议》是用户与天津思则通科技有限公司（下称“思则通”）之间的法律协议。</p>
		     		<h3>1. 服务内容 </h3>
		     		<p>1.1 本网站的所有者及经营者，完全按照其发布的服务条款和操作规则提供基于互联网以及移动互联网的相关服务（以下简称“网络服务”）。</p>
		     		<p>1.2 您一旦注册成功成为用户，您将得到一个密码和帐号，您需要对自己在帐户中的所有活动和事件负全责。如果由于您的过失导致您的帐号和密码脱离您的控制，则由此导致的针对您或任何第三方造成的损害，您将承担全部责任。</p>
		     		<p>1.3 用户理解并接受，本网站仅提供相关的网络服务，除此之外有关的设备（如个人电脑、手机、及其他与接入互联网或移动互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</p>
		     		<h3>2. 用户使用规则 </h3>
		     		<p>2.1 用户在申请使用本网站网络服务时，必须向本网站提供准确的个人资料，如个人资料有任何变动，必须及时更新。因用户提供个人资料不准确、不真实而引发的一切后果由用户承担。</p>
		     		<p>2.2 用户不应将其帐号、密码转让、出借、销售或以任何脱离用户控制的形式交由他人使用。如用户发现其帐号遭他人非法使用，应立即通知本网站系统客服。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，本网站不承担任何责任。</p>
		     		<p>2.3 本网站帐号的所有权归本网站，用户完成注册申请手续后，获得本网站帐号的使用权。</p>
		     		<p>2.4 用户应当为自身注册帐户下的一切行为负责，因用户行为而导致的用户自身或其他任何第三方的任何损失或损害，本网站不承担责任。</p>
		     		<p>2.5 为了方便用户使用本网站及本网站合作伙伴的服务，用户同意并授权本网站向本网站的合作伙伴分享实现网络服务所必要的用户信息。</p>
		     		<p>2.6用户在使用本网站网络服务过程中，必须遵循以下原则：</p>
		     		<p>2.6.1 遵守中国有关的法律和法规；</p>
		     		<p>2.6.2 遵守所有与网络服务有关的网络协议、规定和程序；</p>
		     		<p>2.6.3 不得为任何非法目的而使用网络服务系统；</p>
		     		<p>2.6.4 不得利用本网站网络服务系统进行任何可能对互联网或移动网正常运转造成不</p>
		     		<p>2.6.5 不得利用本网站提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
		     		<p>2.6.6 不得侵犯本网站和其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
		     		<p>2.6.7 不得利用本网站网络服务系统进行任何不利于本网站的行为；</p>
		     		<p>2.6.8 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告本网站。</p>
		     		<p>2.7 如用户在使用网络服务时违反任何上述规定，本网站或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户收藏的内容等、暂停或终止用户使用网络服务的权利）以减轻用户不当行为造成的影响。</p>
		     		<h3>3. 服务变更、中断或终止 </h3>
		     		<p>3.1 鉴于网络服务的特殊性，用户同意本网站有权根据业务发展情况随时变更、中断或终止部分或全部的网络服务而无需通知用户，也无需对任何用户或任何第三方承担任何责任；</p>
		     		<p>3.2 用户理解，本网站需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，本网站无需为此承担任何责任，但本网站应尽可能事先进行通告。 </p>
		     		<p>3.3 如发生下列任何一种情形，本网站有权随时中断或终止向用户提供本《协议》项下的网络服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任：</p>
		     		<p>3.3.1 用户提供的个人资料不真实；</p>
		     		<p>3.3.2 用户违反本《协议》中规定的使用规则。</p>
		     		<h3>4. 知识产权 </h3>
		     		<p>4.1 本网站提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得用于任何商业目的。</p>
		     		<p>4.2 本网站为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。</p>
		     		<h3>5. 隐私保护 </h3>
		     		<p>5.1 保护用户隐私是本网站的一项基本政策，本网站保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在本网站的非公开内容，但下列情况除外：</p>
		     		<p>5.1.1 事先获得用户的明确授权；</p>
		     		<p>5.1.2 根据有关的法律法规要求；</p>
		     		<p>5.1.3 按照相关政府主管部门的要求；</p>
		     		<p>5.1.4 为维护社会公众的利益；</p>
		     		<p>5.1.5 为维护本网站的合法权益。</p>
		     		<p>5.2 本网站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本网站同等的保护用户隐私的责任，则本网站有权将用户的注册资料等提供给该第三方。</p>
		     		<p>5.3 在不透露单个用户隐私资料的前提下，本网站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
		     		<p>5.4 本网站制定了以下四项隐私权保护原则，指导我们如何来处理产品中涉及到用户隐私权和用户信息等方面的问题：</p>
		     		<p>（1） 利用我们收集的信息为用户提供有价值的产品和服务。</p>
		     		<p>（2） 开发符合隐私权标准和隐私权惯例的产品。</p>
		     		<p>（3） 将个人信息的收集透明化，并由权威第三方监督。</p>
		     		<p>（4） 尽最大的努力保护我们掌握的信息。</p>
		     		<h3>6. 免责声明 </h3>
		     		<p>6.1 本网站不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
		     		<p>6.2 本网站不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本网站实际控制的任何网页上的内容，本网站不承担任何责任。</p>
		     		<p>6.3 对于因电信系统或互联网网络故障、计算机故障或病毒、信息损坏或丢失、计算机系统问题或其它任何不可抗力原因而产生损失，本网站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
		     		<h3>7. 法律及争议解决 </h3>
		     		<p>7.1 本协议适用中华人民共和国法律。</p>
		     		<p>7.2 因本协议引起的或与本协议有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可将有关争议提交至被告所在地有管辖权的人民法院管辖。</p>
		     		<h3>8. 其他条款 </h3>
		     		<p>8.1 如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律，则该条款被视为删除，但本协议的其余条款仍应有效并且有约束力。</p>
		     		<p>8.2 本网站有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等修改本协议，而无需另行单独通知用户。修改后的协议会在本网站上公布。用户可随时通过浏览最新服务协议条款。当发生有关争议时，以最新的协议文本为准。如果不同意本网站对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受本网站对本协议相关条款所做的修改。</p>
		     		<p>8.3 本网站在法律允许最大范围对本协议拥有解释权与修改权。</p>
     			</div>
    	 	</div>
    	 </div>
     </div>
<!--  <script>
		$("#head_c").load('head.html');
	</script>  -->
    
<!--     <script src="../../resources/qkl_tfcc/js/register/tabslist.js"></script> -->
    <script src="../resources/qkl_tfcc/js/register/register.js"></script>
</body>
</html>